<template>
<div class="form-group">
    <label>{{ label }}</label>
    <input type="type" class="form-control" :class="{ 'is-invalid': error }" />
    <label class="text-danger" v-if="error">{{ errorMessage }}</label>
</div>
</template>

<script>
export default {
    props: ['label', 'type', 'error', 'errorMessage']
}
</script>
