<template>
<div>
    <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
    <form @submit.prevent="handleSubmit">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer <sup style="color:red">*</sup></label>

                    <v-select v-model="selectedCustomer" :options="customers" label="name" :class="{ 'is-invalid': validationErrors.customer_id }" @input="fetchItems($event); fetchCustomersDetail($event); ">
                        <template #search="{attributes, events}">
                            <input class="vs__search" :required="!selectedCustomer" v-bind="attributes" v-on="events" />
                        </template>
                    </v-select>


                    <div class="text-danger" v-if="validationErrors.customer_id">{{ validationErrors.customer_id[0] }}</div>
                </div>
                <button @click.prevent="showCustomer($event)" class="btn btn-info pull-right" style="margin-bottom: 20px">New Customer</button>
                <br>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Salesman <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedSalesman" :options="salesmans" label="name" :class="{ 'is-invalid': validationErrors.salesman_id }">
                        <template #search="{attributes, events}">
                            <input class="vs__search" :required="!selectedSalesman" v-bind="attributes" />
                        </template>
                    </v-select>
                    <div class="text-danger" v-if="validationErrors.salesman_id">{{ validationErrors.salesman_id[0] }}</div>
                </div>
            </div>
        </div>

        <div v-if="show_customer_detail">
            <h4>Customer Detail</h4>
            <div class="row">
                <div class="col-md-4">
                    <div v-if="show_customer_detail">
                        <label>Company Name</label>
                        <input type="text" name="company_name" class="form-control" v-model="this.customerDetail.company_name" disabled>
                        <br>

                        <label>Contact Person </label>
                        <input type="text" name="pic_1" class="form-control" v-model="this.customerDetail.pic_1" disabled>
                        <br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div v-if="show_customer_detail">
                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" v-model="this.customerDetail.phone" disabled>
                        <br>
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" v-model="this.customerDetail.email" disabled>
                        <br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div v-if="show_customer_detail">

                        <label>Fax Number</label>
                        <input type="text" name="fax" class="form-control" v-model="this.customerDetail.fax" disabled>
                        <br>
                        <label>Credit Limit</label>
                        <money type="text" name="credit_limit" class="form-control" v-model="this.customerDetail.credit_limit" style="text-align:right;" disabled>
                        </money>
                        <br>
                    </div>
                </div>

                <div class="col-md-12" v-if="this.customer_addrees.length <= 100">
                    <div v-if="show_customer_detail">
                        <label>Address</label>
                        <div style="height:auto;">
                            <textarea class="form-control" v-model="this.customer_addrees" disabled style="height:80px"></textarea>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-12" v-if="this.customer_addrees.length <= 200 && this.customer_addrees.length >=100">
                    <div v-if="show_customer_detail">
                        <label>Address</label>
                        <div style="height:auto;">
                            <textarea class="form-control" v-model="this.customer_addrees" disabled style="height:100px"></textarea>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-12" v-if="this.customer_addrees.length <= 350 && this.customer_addrees.length >=200">
                    <div v-if="show_customer_detail">
                        <label>Address</label>
                        <div style="height:auto;">
                            <textarea class="form-control" v-model="this.customer_addrees" disabled style="height:150px;"></textarea>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-12" v-if="this.customer_addrees.length <= 650 && this.customer_addrees.length >=350">
                    <div v-if="show_customer_detail">
                        <label>Address</label>
                        <div style="height:auto;">
                            <textarea class="form-control" v-model="this.customer_addrees" disabled style="height:200px;"></textarea>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-12" v-if="this.customer_addrees.length >= 650">
                    <div v-if="show_customer_detail">
                        <label>Address</label>
                        <div style="height:auto;">
                            <textarea class="form-control" v-model="this.customer_addrees" disabled style="height:280px;"></textarea>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Payment Term <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedPaymentTerm" :options="paymentTerms" label="name" :class="{ 'is-invalid': validationErrors.payment_term_id }" />
                    <div class="text-danger" v-if="validationErrors.payment_term_id">{{ validationErrors.payment_term_id[0] }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Currency <sup style="color:red">*</sup></label>
                    <input type="text" v-model="currencyName" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Remark <sup style="color:red">*</sup></label>
                    <textarea v-model="form.description" cols="40" style="height:100px" class="form-control" :class="{ 'is-invalid': validationErrors.description }"></textarea>
                    <label class="text-danger" v-if="validationErrors.description">{{ validationErrors.description[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hovered" style="font-size:9px">
                        <thead>
                            <tr>
                                <th align="center" style="font-size:16px;">#</th>
                                <th align="center" style="font-size:16px;"></th>
                                <th align="center" style="width:20%;font-size:16px;">
                                    Item
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="width:12%;font-size:16px;">
                                    UoM
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="width:12%;font-size:16px;">
                                    Qty
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="font-size:16px;">
                                    Price
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="font-size:16px;">
                                    Dsc (%) <br>
                                    Dsc Amount
                                </th>
                                <th align="center" style="font-size:16px;">
                                    Sub Total
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product, index) in this.products" :key="index">
                                <td style="font-size:16px;">{{ index + 1}}</td>
                                <td style="font-size:16px;">
                                    <i class="fa fa-info-circle" @click.prevent="showPriceHistory($event, product, index)" :product-id="product.item" v-if="selectedItem[index]" :id="selectedItem[index]"></i>
                                </td>
                                <td>
                                    <v-select v-model="selectedItem[index]" @input="fetchItemDetails($event, index);" :options="items" label="name" required style="font-size:16px;">
                                        <template #search="{attributes, events}">
                                            <input class="vs__search" :required="!selectedItem[index]" v-bind="attributes" v-on="events" />
                                        </template>
                                    </v-select>
                                    <br>
                                    <input type="text" placeholder="Product description" v-model="product.description" style="font-size:16px;" class="form-control m-input"  />
                                </td>

                                <td width="10%">
                                    <select v-model="product.uom" @input="fetchUomDetails(product.uom, index)" class="form-control" style="font-size:16px;" required>
                                        <option v-for="(item, i) in uoms" :value="item.id" :key="i">{{ item.name }}</option>
                                    </select>
                                </td>
                                <td width="15%">
                                    <money v-model="product.qty" value="0" style="font-size:16px; text-align:right" class="form-control m-input" required />
                                </td>
                                <td>
                                    <money v-model="product.price" style="font-size:16px; text-align:right" class="form-control m-input" required />
                                    </money>
                                </td>
                                <td width="14%">
                                    <input type="number" max="100" min="0" v-model="product.discountRate" value="0" style="font-size:16px; text-align:right" class="form-control m-input" placeholder="%" /><br>
                                    <money v-model="product.discountAmount" class="form-control m-input" placeholder="IDR" style="font-size:16px; text-align:right" />
                                    </money>
                                </td>
                                <td width="13%" style="font-size:16px;" align="right">
                                    <!-- <input type="text" disabled v-model="product.subTotal" class="form-control m-input" style="font-size:9px" value="" /> -->
                                    {{ product.qty && product.price ? formatPrice( (product.price * product.qty) - (product.discountAmount ? product.discountAmount : 0) - (product.discountRate ? ((product.discountRate / 100) * product.price) : 0) *  product.qty) : 0 }}
                                </td>
                                <td>
                                    <button @click.prevent="deleteItem(index)" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <button @click.prevent="show" class="btn btn-info pull-right btn-block">
                                        + Add New Product
                                    </button>
                                </td>
                                <td colspan="6" align="center">
                                    <button @click.prevent="addItem" class="btn btn-success pull-right btn-block">
                                        + Add New Row
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" align="right" style="font-size:16px; font-weight:bold">Subtotal Exclude Discount All Items</td>
                                <td align="right" style="font-size:16px;">{{ formatPrice(getTotal) }}</td>
                                <td style="font-size:16px;"></td>
                            </tr>
                            <tr>
                                <td colspan="7" align="right" style="font-size:16px; font-weight:bold">Discount All Items</td>
                                <td align="right" style="font-size:16px;">
                                    <input type="text" @keypress="isNumber($event)" style="text-align:right" v-model="form.discountAllItem" class="form-control" :class="{ 'is-invalid': validationErrors.discountAllItem }" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="7" align="right" style="font-size:16px; font-weight:bold">Sub Total</td>
                                <td align="right" style="font-size:16px;">
                                    {{ formatPrice(subTotal) }}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="6" align="right" style="font-size:13px; font-weight:bold"></td>
                                <td align="right">
                                    <div class="form-group" style="width: 100px;">
                                        <label style="font-size:13px;font-weight:bold;margin-right:5px;" class="input-group-append">
                                            GST
                                        </label>
                                        <div class="input-group colorpickerinput">
                                            <input type="text" disabled v-model="form.tax" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i>%</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td align="right" style="font-size:16px;">
                                    {{ formatPrice(getGst) }}
                                </td>
                                <td></td>
                            </tr>
                            <tr style="font-size:16px; font-weight:bold">
                                <td colspan="7" align="right">Total</td>
                                <td align="right" style="color:#5b35c4">
                                    {{ formatPrice(total) }}
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="m-portlet_foot m-portlet_foot--fit">
            <div class="m-form_actions m-form_actions--right">
                <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Save' }}</button>
            </div>
        </div>
    </form>
    <Product @messageFromChild="childMessageReceived" />
    <Customer @messageFromChild="childMessageReceivedCustomer" />
    <price-history :id="this.product_id" :billing="this.billing" :pr_history="this.pr_history" />

</div>
</template>

<script>
import axios from "axios";
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import Input from "../../../../../../../resources/js/components/commons/input";
import Product from "./Product";
import Customer from "./Customer.vue"
import PriceHistory from "./PriceHistory.vue"
import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";

export default {
    props: ['qm', 'qm-id', 'departmentId', 'departmentName', 'currencyId', 'currencyName'],
    components: {
        vSelect,
        ValidationErrors,
        Input,
        Product,
        Customer,
        PriceHistory,
    },
    data() {
        return {
            products: [],
            form: {
                type: "",
                discountAllItem: null,
                getTotal: null,
                subTotal: null,
                currency: "",
                paymentTerm: "",
                quotationMaterial: "",
                tax: "",
            },
            salesmans: [],
            paymentTerms: [],
            customers: [],
            departments: [],
            currencies: [],
            quotationMaterials: [],
            items: [],
            uoms: [],
            errors: [],
            loading: false,
            selectedSalesman: null,
            selectedPaymentTerm: null,
            selectedCurrency: null,
            selectedCustomer: null,
            selectedDepartment: null,
            selectedQuotationMaterial: null,
            selectedItem: [],
            validationErrors: "",
            customerDetail: "",
            show_customer_detail: false,
            customer_addrees: null,
            price_history: null,
            billing: [],
            procurement_history: [],
            customer_addrees: {
                length: null,
            },
            product_id: null,
            billing: [],
            pr_history: [],
        };
    },
    mounted() {
        this.fetchDepartments();
        this.fetchSalesmens();
        this.fetchCustomers();
        this.fetchPaymentTerms();
        this.fetchSalesmenFirst();
        this.fetchTaxs();
        this.fetchCurencies();
        this.fetchUoms();

    },
    computed: {
        getTotal() {
            const total = this.products.reduce((a, b) => a + (b.price * b.qty) - (b.discountAmount ? b.discountAmount : 0) - (b.discountRate ? ((b.discountRate / 100) * b.price) : 0) * b.qty, 0);
            this.form.getTotal = total ? parseInt(total) : 0;
            return total;
        },
        subTotal() {
            const total = this.form.getTotal - this.form.discountAllItem;
            this.form.subTotal = total ? parseInt(total) : 0;
            return total;
        },
        getGst() {
            const total = ((this.form.tax / 100) * this.form.subTotal);
            this.form.gstTotal = total ? parseInt(total) : 0;
            return total;
        },
        total() {
            const total = this.form.subTotal + this.form.gstTotal;
            this.form.total = total ? parseInt(total) : 0;
            return total;
        }
    },
    watch: {

        selectedDepartment: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                this.form.department = this.selectedDepartment.id;
            }
        },
        selectedSalesman: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedSalesman) {
                    this.form.salesman = this.selectedSalesman.id;
                } else {
                    this.form.salesman = null;
                }
            }
        },
        selectedPaymentTerm: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedPaymentTerm) {
                    this.form.paymentTerm = this.selectedPaymentTerm.id;
                } else {
                    this.form.paymentTerm = null;
                }
            }
        },
        selectedCustomer: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedCustomer) {
                    this.form.customer = this.selectedCustomer.id;
                    this.form.priceCategory = this.selectedCustomer.priceCategory;
                } else {
                    this.form.customer = null;
                    this.form.priceCategory = null;
                }
            }
        },
        selectedCurrency: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedCurrency) {
                    this.form.currency = this.selectedCurrency.id;
                } else {
                    this.form.currency = null;
                }
            }
        },

        selectedItem: {
            handler() {
                const selectedItems = this.selectedItem;

                selectedItems.map((item, i) => {
                    if (item) {
                        this.products[i].item = item.id;
                    } else {
                        this.products[i].item = null;
                    }
                });
            }
        },
    },
    methods: {
        callFromChild() {
            this.$root.$on('refetch_the_product_from_qm', () => {
                this.rerenderItems()
            })
        },
        formatPrice(value) {
            let val = (value / 1).toFixed(0).replace(",", ".");
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();;
            } else {
                return true;
            }
        },
        childMessageReceivedCustomer(value) {
            this.customers = []
            this.fetchCustomers()
        },
        callFromChildCustomer() {
            this.$root.$on('refetch_the_customer_from_qm', () => {
                this.rerenderCustomers()
            })
        },
        childMessageReceived(value) {
            this.items = []
            this.fetchItemAfterCreateProduct()
        },
        show(e) {
            this.$modal.show("example-modal");
        },
        showCustomer(e) {

            this.$modal.show('customer-modal')
        },
        async showPriceHistory(e, data, index) {
            this.product_id = data.item
            const response = await axios.get(
                `/api/transaction/product/billing-history/${data.item}`
            );
            const result = await response.data;

            this.billing = result
            const procurementHistory = await axios.get(
                `/api/transaction/product/procurement-history/${data.item}`
            );
            const ph = await procurementHistory.data;

            this.pr_history = ph
            this.$modal.show('price-history-modal')
        },
        async fetchDepartments() {
            try {
                // const companyId = window.Laravel.auth.company_id;
                const response = await axios.get(
                    `/procurement/purchase_requisition/department`
                );
                const result = await response.data;
                result.map(res => {
                    this.departments.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },

        async fetchCustomers() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/customer`
                );
                const result = await response.data;
                var id_customers = null;
                var price_category = null;
                result.map(res => {
                if(res.company_name == 'On The Spot'){
                    this.selectedCustomer = {
                        id: res.id,
                        name: res.company_name,
                        priceCategory: res.price_category_id

                    };
                    id_customers = res.id
                    price_category = res.price_category_id
                }


                    this.customers.push({
                        id: res.id,
                        name: res.company_name,
                        priceCategory: res.price_category_id

                    });
                });

                this.customerDetail = "";
                this.show_customer_detail = true;

                const responses = await axios.get(`/transaction/quotation_material/customer-detail/${id_customers}`);
                const results = await responses.data;
                this.customerDetail = results
                this.customer_addrees = results.address

                this.fetchItems('', price_category)

            } catch (err) {
                console.log(err);
            }
        },
        async fetchSalesmens() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/salesman`
                );
                const result = await response.data;
                result.map(res => {
                    this.salesmans.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchSalesmenFirst() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/salesmenId`
                );
                const result = await response.data;
                this.selectedSalesman = {
                    id: result.id,
                    name: result.name
                };

            } catch (err) {
                console.log(err);
            }
        },
        async fetchPaymentTerms() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/paymentTerm`
                );
                const result = await response.data;
                result.map(res => {
                    if(res.name == 'Cash'){
                        this.selectedPaymentTerm = {
                            id: res.id,
                            name: res.code + " - " + res.name
                        };

                    }
                    this.paymentTerms.push({
                        id: res.id,
                        name: res.code + " - " + res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCurencies() {
            try {
                const response = await axios.get(
                    `/transaction/sales_order/currency`
                );
                const result = await response.data;
                result.map(res => {
                    this.currencies.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchTaxs() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/tax`
                );
                const result = await response.data;
                this.form.tax_id = result.id;
                this.form.tax = result.rate;

            } catch (err) {
                console.log(err);
            }
        },
        async fetchCustomersDetail(e) {
            try {
                this.customerDetail = "";
                this.show_customer_detail = true;

                const response = await axios.get(`/transaction/quotation_material/customer-detail/${e.id}`);
                const result = await response.data;
                this.customerDetail = result
                this.customer_addrees = result.address
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItems(e, id) {
            try {
                this.items = [];
                this.selectedItem = [];
                this.products = []
                this.addItem()
                if (e.priceCategory) {

                    const response = await axios.get(`/transaction/quotation_material/product_price/${e.priceCategory}`);
                    const result = await response.data;
                    result.map(res => {
                        this.items.push({
                            id: res.product_id,
                            name: res.product.code + " - " + res.product.name,
                            productPrice: res.id
                        });
                    });
                }

                if(id){
                    const response = await axios.get(`/transaction/quotation_material/product_price/${id}`);
                    const result = await response.data;
                    result.map(res => {
                        this.items.push({
                            id: res.product_id,
                            name: res.product.code + " - " + res.product.name,
                            productPrice: res.id
                        });
                    });
                }
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItemAfterCreateProduct() {
            try {

                const response = await axios.get(`/transaction/quotation_material/product_price/${this.selectedCustomer.priceCategory}`);
                const result = await response.data;
                result.map(res => {
                    this.items.push({
                        id: res.product_id,
                        name: res.product.code + " - " + res.product.name,
                        productPrice: res.id
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItemDetails(e, i) {
            if (e) {
                const product_id = e.id
                this.product_id = e.id
                this.products[i].price = null
                this.products[i].discountRate = null
                this.products[i].discountAmount = null
                this.products[i].uom = null

                axios(`/api/transaction/product/product-detail/${product_id}`)
                    .then(response => {
                        const uom = response.data.uom_id
                        this.products[i].uom = uom
                        if (uom) {

                            axios(`/api/procurement/product/product-price/${product_id}/${uom}`)
                                .then(response => {

                                    if (response.data) {
                                        const price = response.data.price
                                        const discountRate = response.data.discount
                                        const discountAmount = response.data.discount_amount
                                        this.products[i].price = parseInt(price, 10)
                                        this.products[i].discountRate = discountRate
                                        this.products[i].discountAmount = parseInt(discountAmount, 10)
                                    }
                                })
                                .catch(e => console.log(e));
                        }
                    })
                    .catch(e => console.log(e));
            }
        },
        async fetchUomDetails(e, i) {
            const product_id = this.products[i].item
            this.products[i].uom = null
            this.products[i].price = null
            this.products[i].discountRate = null
            this.products[i].discountAmount = null
            if (e) {
                axios(`/api/procurement/product/product-price/${product_id}/${e}`)
                    .then(response => {
                        if (response.data) {
                            const price = response.data.price
                            const discountRate = response.data.discount
                            const discountAmount = response.data.discount_amount
                            this.products[i].price = parseInt(price, 10)
                            this.products[i].discountRate = discountRate
                            this.products[i].discountAmount = parseInt(discountAmount, 10)
                        }
                    })
                    .catch(e => console.log(e));
            }
        },
        async fetchUoms() {
            const response = await axios.get(`/procurement/purchase_requisition/uom`);
            const result = await response.data;

            this.uoms = result;
        },
        addItem() {
            this.products.push({
                item: null,
                qty: null,
                uom: null,
                remark: null,
                description: null,
                discountRate: null,
                discountAmount: null,
                price: null,
            });
        },
        deleteItem(i) {
            this.products.splice(i, 1);
        },
        async handleSubmit() {
            this.loading = true;

            try {
                let data = {};
                data["_method"] = 'post';
                data["title"] = this.form.title;
                data["customer_id"] = this.form.customer;
                data["salesman_id"] = this.form.salesman;
                data["products"] = this.products;
                data["get_total"] = this.form.getTotal;
                data["discount_all_item"] = this.form.discountAllItem;
                data["sub_total"] = this.form.subTotal;
                data["tax_id"] = this.form.tax_id;
                data["total"] = this.form.total;
                data["description"] = this.form.description;
                data["payment_term_id"] = this.form.paymentTerm;

                const response = await axios.post(
                    "/transaction/sales_order",
                    data
                );
                const result = await response;
                if(result.data.success == true){
                window.location.href = result.data.redirect;
                }
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    console.log(err.response.status);
                    this.validationErrors = err.response.data.errors;
                } else {
                    alert(
                        "Please check the input"
                    );
                }
            }
        },
    }

};
</script>
