<template>
<modal name="customer-modal" :resizable="resizable" :adaptive="adaptive" height="auto" :scrollable="true">
    <div class="card-body">
        <div class="form-group">
            <h4 style="text-align: center;">Add New Customer</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Company Name <sup style="color:red">*</sup></label>
                    <input type="text" v-model="form.company_name" class="form-control" :class="{ 'is-invalid': validationErrors.company_name }" required />
                    <label class="text-danger" v-if="validationErrors.company_name">{{ validationErrors.company_name[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Price Category <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedPriceCategory" :options="price_category" label="name" :class="{ 'is-invalid': validationErrors.price_category_id }" />
                    <div class="text-danger" v-if="validationErrors.price_category_id">{{ validationErrors.price_category_id[0] }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address</label>
                    <textarea v-model="form.address" class="form-control" :class="{ 'is-invalid': validationErrors.address }" required></textarea>
                    <label class="text-danger" v-if="validationErrors.address">{{ validationErrors.address[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="number" v-model="form.phone" class="form-control" :class="{ 'is-invalid': validationErrors.phone }" required />
                    <label class="text-danger" v-if="validationErrors.phone">{{ validationErrors.phone[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fax</label>
                    <input type="number" v-model="form.fax" class="form-control" :class="{ 'is-invalid': validationErrors.fax }" required />
                    <label class="text-danger" v-if="validationErrors.fax">{{ validationErrors.fax[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contact Person</label>
                    <input type="text" v-model="form.pic_1" class="form-control" :class="{ 'is-invalid': validationErrors.pic_1 }" required />
                    <label class="text-danger" v-if="validationErrors.pic_1">{{ validationErrors.pic_1[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contact Person Phone</label>
                    <input type="number" v-model="form.pic_phone_1" class="form-control" :class="{ 'is-invalid': validationErrors.pic_phone_1 }" required />
                    <label class="text-danger" v-if="validationErrors.pic_phone_1">{{ validationErrors.pic_phone_1[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Credit Limit</label>
                    <input type="number" v-model="form.credit_limit" class="form-control" :class="{ 'is-invalid': validationErrors.credit_limit }" required />
                    <label class="text-danger" v-if="validationErrors.credit_limit">{{ validationErrors.credit_limit[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button @click.prevent="onClickButton" class="btn btn-info pull-right" style="margin-bottom: 20px">Save</button>
                </div>
            </div>
        </div>
    </div>
</modal>
</template>

<script>
import axios from "axios";
import vmodal from 'vue-js-modal'
Vue.use(vmodal)
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import vSelect from "vue-select";
import Input from "../../../../../../../resources/js/components/commons/input";
import "vue-select/dist/vue-select.css";
import DatePicker from "vue-md-date-picker";

export default {
    components: {
        ValidationErrors,
        vSelect,
        DatePicker,
        Input,
    },
    data() {
        return {
            form: {
                company_name: "",
                roc_no: "",
                address: "",
                email: "",
                phone: "",
                fax: "",
                pic_1: "",
                pic_phone_1: "",
                credit_limit: "",
            },
            resizable: false,
            adaptive: true,
            validationErrors: "",
            price_category: [],
            selectedPriceCategory: null,
        };
    },
    mounted() {
        this.fetchPriceCategory();
    },
    watch: {
        selectedPriceCategory: {
            handler() {
                if (this.selectedPriceCategory) {
                    this.form.price_category = this.selectedPriceCategory.id;
                } else {
                    this.form.price_category = null;
                }
            }
        }
    },
    methods: {
        async fetchPriceCategory() {
            try {
                const response = await axios.get(`/api/transaction/product/price_category`);
                const result = await response.data;
                result.map(res => {
                    this.price_category.push({
                        id: res.id,
                        name: res.name
                    })
                });
                console.log(this.price_category)

            } catch (e) {

            }
        },
        async onClickButton() {
            this.loading = true;
            try {

                let data = {};
                data["company_name"] = this.form.company_name;
                data["roc_no"] = this.form.roc_no;
                data["address"] = this.form.address;
                data["email"] = this.form.email;
                data["phone"] = this.form.phone;
                data["fax"] = this.form.fax;
                data["pic_1"] = this.form.pic_1;
                data["pic_phone_1"] = this.form.pic_phone_1;
                data["credit_limit"] = this.form.credit_limit;
                data["price_category_id"] = this.form.price_category;

                const response = await axios.post(
                    `/api/transaction/customer/store-customer`,
                    data
                );

                this.form = {
                    company_name: "",
                    roc_no: "",
                    address: "",
                    email: "",
                    phone: "",
                    fax: "",
                    pic_1: "",
                    pic_phone_1: "",
                    credit_limit: "",
                    price_category: "",
                }

                this.selectedPriceCategory = null;
                this.validationErrors = "";

                this.$emit('messageFromChild')
                this.$root.$emit('refetch_the_customer_from_qm')
                this.$modal.hide('customer-modal')
                this.$swal(
                    "Yeay!",
                    "Your entry has been added successfully",
                    "success"
                );
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    this.validationErrors = err.response.data.errors;
                }
            }
        }
    }
}
</script>
