<template>
<div>
    <div v-if="fetchLoading" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div v-else>
        <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
        <form @submit.prevent="handleSubmit">
            <div class="row">
                <div class="col-md-12" v-if="form.quotationMaterial">
                    <div class="form-group">
                        <label>Quotation</label>
                        <input v-model="form.quotationMaterial" disabled class="form-control m-input" /><br>
                        <label class="text-danger" v-if="validationErrors.description">{{ validationErrors.description[0] }}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Customer <sup style="color:red">*</sup></label>
                        <v-select v-model="selectedCustomer" :options="customers" label="name" :class="{ 'is-invalid': errors.customer_id }" @input="fetchItems($event); fetchCustomersDetail($event);" required disabled>
                            <template #search="{attributes, events}">
                                <input class="vs__search" :required="!selectedCustomer" v-bind="attributes" v-on="events" />
                            </template>
                        </v-select>
                        <label class="text-danger" v-if="errors.customer_id">{{ errors.customer_id[0] }}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Salesman <sup style="color:red">*</sup></label>
                        <v-select v-model="selectedSalesman" :options="salesmans" label="name" :class="{ 'is-invalid': errors.salesman_id }">
                            <template #search="{attributes, events}">
                                <input class="vs__search" :required="!selectedSalesman" v-bind="attributes" v-on="events" />
                            </template>
                        </v-select>
                        <label class="text-danger" v-if="errors.salesman_id">{{ errors.salesman_id[0] }}</label>
                    </div>
                </div>

            </div>
            <h4>Customer Detail</h4>
            <div class="row">
                <div class="col-md-4">

                    <label>Company Name</label>
                    <input type="text" name="company_name" class="form-control" v-model="this.customerDetail.company_name" disabled>
                    <br>
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" v-model="this.customerDetail.email" disabled>
                    <br>
                    <label>Contact Person </label>
                    <input type="text" name="pic_1" class="form-control" v-model="this.customerDetail.pic_1" disabled>
                    <br>

                </div>
                <div class="col-md-4">

                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control" v-model="this.customerDetail.phone" disabled>
                    <br>
                    <label>Fax Number</label>
                    <input type="text" name="fax" class="form-control" v-model="this.customerDetail.fax" disabled>
                    <br>
                    <label>Address</label>
                    <textarea class="form-control" v-model="this.customerDetail.address" disabled></textarea>
                    <br>
                </div>
                <div class="col-md-4">
                    <label>Credit Limit</label>
                    <money type="text" name="credit_limit" class="form-control" v-model="this.customerDetail.credit_limit" style="text-align:right;" disabled>
                    </money>
                    <br>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Payment Term <sup style="color:red">*</sup></label>
                        <v-select v-model="selectedPaymentTerm" :options="paymentTerms" label="name" :class="{ 'is-invalid': errors.payment_term_id }" required />
                        <label class="text-danger" v-if="errors.payment_term_id">{{ errors.payment_term_id[0] }}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Currency <sup style="color:red">*</sup></label>
                        <v-select v-model="selectedCurrency" :options="currencies" label="name" :class="{ 'is-invalid': validationErrors.currency_id }" disabled />
                        <label class="text-danger" v-if="validationErrors.currency_id">{{ validationErrors.currency_id[0] }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Remark <sup style="color:red">*</sup></label>
                        <textarea v-model="form.description" cols="40" style="height:100px" class="form-control" :class="{ 'is-invalid': validationErrors.description }"></textarea>
                        <label class="text-danger" v-if="validationErrors.description">{{ validationErrors.description[0] }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hovered" style="font-size:16px">
                            <thead>
                                <tr>
                                    <th align="center">#</th>
                                    <th align="center" style="font-size:16px;"></th>
                                    <th align="center" style="width:20%">
                                        Item
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" style="width: 12%">
                                        UoM
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" style="width: 12%">
                                        Qty
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center">
                                        Price
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center">
                                        Dsc (%) <br>
                                        Dsc Amount
                                    </th>
                                    <th align="center">
                                        Sub Total
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(product, index) in this.products" :key="index">
                                    <td>{{ index + 1}}</td>
                                    <td style="font-size:16px;">
                                        <i class="fa fa-info-circle" @click.prevent="showPriceHistory($event, product, index)" :product-id="product.item" v-if="selectedItem[index]" :id="selectedItem[index]"></i>
                                    </td>
                                    <td>
                                        <v-select v-model="selectedItem[index]" @input="fetchItemDetails($event, index)" :options="items" label="name" required>
                                            <template #search="{attributes, events}">
                                                <input class="vs__search" :required="!selectedItem[index]" v-bind="attributes" v-on="events" />
                                            </template>
                                        </v-select>
                                        <br>
                                        <input type="text" placeholder="Product description" v-model="product.description" style="font-size:16px" class="form-control m-input"  />
                                    </td>
                                    <td width="10%">
                                        <select v-model="product.uom" @input="fetchUomDetails(product.uom, index)" class="form-control" style="font-size:16px" required>
                                            <option v-for="(item, i) in uoms" :value="item.id" :key="i">{{ item.name }}</option>
                                        </select>
                                    </td>
                                    <td width="15%">
                                        <money v-model="product.qty" value="0" style="font-size:16px; text-align:right" class="form-control m-input" required />
                                    </td>
                                    <td>
                                        <money v-model="product.price" style="font-size:16px; text-align:right" class="form-control m-input" required />
                                        </money>
                                    </td>
                                    <td width="14%">
                                        <input type="number" v-model="product.discountRate" value="0" max="100" min="0" style="font-size:16px; text-align:right" class="form-control m-input" placeholder="%" /><br>
                                        <money v-model="product.discountAmount" class="form-control m-input" placeholder="RM" style="font-size:16px; text-align:right" />
                                        </money>
                                    </td>
                                    <td width="13%" align="right">
                                        <!-- <input type="text" disabled v-model="product.subTotal" class="form-control m-input" style="font-size:9px" value="" /> -->
                                        {{ product.qty && product.price ? formatPrice( (product.price * product.qty) - (product.discountAmount ? product.discountAmount : 0) - (product.discountRate ? ((product.discountRate / 100) * product.price) : 0) *  product.qty) : 0 }}
                                    </td>
                                    <td>
                                        <button @click.prevent="deleteItem(index, product.id)" class="btn btn-xs btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        <button @click.prevent="show" class="btn btn-info pull-right btn-block">
                                            + Add New Product
                                        </button>
                                    </td>
                                    <td colspan="6" align="center">
                                        <button @click.prevent="addItem" class="btn btn-success pull-right btn-block">
                                            + Add New Row
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7" align="right" style="font-size:16px; font-weight:bold">Subtotal Exclude Discount All Items</td>
                                    <td align="right">{{ formatPrice(getTotal) }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="7" align="right" style="font-size:16px; font-weight:bold">Discount All Items</td>
                                    <td align="right">
                                        <input type="text" @keypress="isNumber($event)" style="text-align:right" v-model="form.discountAllItem" class="form-control" :class="{ 'is-invalid': validationErrors.discountAllItem }" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="7" align="right" style="font-size:16px; font-weight:bold">Sub Total</td>
                                    <td align="right">
                                        {{ formatPrice(subTotal) }}
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="6" align="right" style="font-size:13px; font-weight:bold">GST</td>
                                    <td align="right">
                                        <div class="form-group" style="width: 100px;">

                                            <div class="input-group colorpickerinput">
                                                <input type="text" disabled v-model="form.taxRate" class="form-control">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <i>%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="right">
                                        {{ formatPrice(getGst) }}
                                    </td>
                                    <td></td>
                                </tr>
                                <tr style="font-size:16px; font-weight:bold">
                                    <td colspan="7" align="right">Total</td>
                                    <td align="right" style="color:#5b35c4">
                                        {{ formatPrice(total) }}
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--right">
                    <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Update' }}</button>
                </div>
            </div>
        </form>
        <Product @messageFromChild="childMessageReceived" />
        <price-history :id="this.product_id" :billing="this.billing" :pr_history="this.pr_history" />
    </div>
</div>
</template>

<script>
import axios from "axios";
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import DatePicker from "vue-md-date-picker";
import Product from "./Product";
import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";

export default {
    props: ["id", "resubmit"],
    components: {
        DatePicker,
        vSelect,
        Product,
        ValidationErrors
    },
    data() {
        return {
            products: [],
            form: {
                title: "",
                department: "",
                customer: "",
                salesman: "",
                paymentTerm: "",
                discountAllItem: "",
                currency: "",
                description: "",
                getTotal: "",
                resubmit: "",
                project_id: null,
            },
            show_start: false,
            show_end: false,
            projects: [],
            customers: [],
            salesmans: [],
            currencies: [],
            paymentTerms: [],
            departments: [],
            items: [],
            uoms: [],
            errors: [],
            loading: false,
            // now: moment().format("YYYY-MM-DD"),
            selectedCurrency: null,
            selectedProject: null,
            selectedCustomer: null,
            selectedDepartment: null,
            selectedSalesman: null,
            selectedPaymentTerm: null,
            selectedItem: [],
            validationErrors: "",
            fetchLoading: false,
            customerDetail: "",
            product_id: null,
            billing: [],
            pr_history: [],
        };
    },
    mounted() {
        this.fetchSO();
        this.fetchDepartments();
        this.fetchCustomers();
        this.fetchSalesmens();
        this.fetchCurencies();
        this.fetchPaymentTerms();
        this.fetchUoms();
        this.fetchProjectCode();
    },
    computed: {
        getTotal() {
            const total = this.products.reduce((a, b) => a + (b.price * b.qty) - (b.discountAmount ? b.discountAmount : 0) - (b.discountRate ? ((b.discountRate / 100) * b.price) : 0) * b.qty, 0);
            this.form.getTotal = total ? parseInt(total) : 0;
            return total;
        },
        subTotal() {
            const total = this.form.getTotal - this.form.discountAllItem;
            this.form.subTotal = total ? parseInt(total) : 0;
            return total;
        },
        getGst() {
            const subTotal = this.form.getTotal - this.form.discountAllItem;
            const total = ((this.form.taxRate / 100) * subTotal);
            this.form.gstTotal = total ? parseInt(total) : 0;
            return total;
        },
        total() {
            const subTotal = this.form.getTotal - this.form.discountAllItem;

            const total = subTotal + this.form.gstTotal;
            this.form.total = total ? parseInt(total) : 0;
            return total;
        }

    },
    watch: {

        selectedDepartment: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                this.form.department = this.selectedDepartment.id;
            }
        },
        selectedCustomer: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedCustomer) {
                    this.form.customer = this.selectedCustomer.id;
                    this.form.priceCategory = this.selectedCustomer.priceCategory;
                } else {
                    this.form.customer = null;
                    this.form.priceCategory = null;
                }
            }
        },
        selectedSalesman: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedSalesman) {
                    this.form.salesman = this.selectedSalesman.id;
                } else {
                    this.form.salesman = null;
                }
            }
        },
        selectedCurrency: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedCurrency) {
                    this.form.currency = this.selectedCurrency.id;
                } else {
                    this.form.currency = null;
                }
            }
        },
        selectedPaymentTerm: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedPaymentTerm) {
                    this.form.paymentTerm = this.selectedPaymentTerm.id;
                } else {
                    this.form.paymentTerm = null;
                }
            }
        },
        selectedProject: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedProject) {
                    this.form.project_id = this.selectedProject.id;
                } else {
                    this.form.project_id = null;
                }
            }
        },
        selectedItem: {
            handler() {
                const selectedItems = this.selectedItem;
                selectedItems.map((item, i) => {
                    if (item) {
                        this.products[i].item = item.id;
                    } else {
                        this.products[i].item = null;
                    }
                });
            }
        }
    },
    methods: {
        formatPrice(value) {
            let val = (value / 1).toFixed(0).replace(",", ".");
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();;
            } else {
                return true;
            }
        },
        childMessageReceived(value) {
            this.items = []
            this.fetchItemAfterCreateProduct()
        },
        show(e) {
            this.$modal.show("example-modal");
        },
        async showPriceHistory(e, data, index) {
            this.product_id = data.item
            const response = await axios.get(
                `/api/transaction/product/billing-history/${data.item}`
            );
            const result = await response.data;

            this.billing = result
            const procurementHistory = await axios.get(
                `/api/transaction/product/procurement-history/${data.item}`
            );
            const ph = await procurementHistory.data;

            this.pr_history = ph
            this.$modal.show('price-history-modal')
        },

        async fetchSO() {
            try {
                this.fetchLoading = true
                const response = await axios.get(
                    `/api/transaction/sales_order/${this.id}`
                );
                const result = await response.data;
                const responseProduct = await axios.get(`/transaction/quotation_material/product_price/${result.customer.price_category_id}`);
                const resultProduct = await responseProduct.data;
                resultProduct.map(res => {
                    this.items.push({
                        id: res.product_id,
                        name: res.product.code + " - " + res.product.name,
                        productPrice: res.id
                    });
                });
                this.fetchCustomersDetail('nana');

                this.form.title = result.title;
                this.form.description = result.description;
                this.form.department = result.department_id;
                this.form.customer = result.customer_id;
                this.form.salesman = result.salesman_id;
                this.form.paymentTerm = result.payment_term_id;
                this.form.currency = result.currency_id;
                this.form.quotationMaterial = result.quotation_material_id ? result.quotation_material.code_number : null;
                this.form.discountAllItem = result.discount_all_item;
                this.form.taxRate = result.tax.rate;
                this.form.tax_id = result.tax_id;

                // push to selected cost center
                this.selectedCustomer = {
                    id: result.customer_id,
                    name: result.customer.company_name,
                    priceCategory: result.customer.price_category_id

                };
                this.selectedSalesman = result.salesman;
                this.selectedProject = result.project;
                this.selectedPaymentTerm = {
                    id: result.payment_term.id,
                    name: result.payment_term.code + " - " + result.payment_term.name
                };
                this.selectedCurrency = {
                    id: result.currency_id,
                    name: result.currency.name
                };
                this.selectedDepartment = result.department;

                result.items.map((item, i) => {
                    // push to selected item
                    this.selectedItem.push({
                        id: item.product.id,
                        name: item.product.name
                    });
                    this.products.push({
                        id: item.id,
                        item: item.product_id,
                        qty: item.qty,
                        uom: item.uom_id,
                        price: item.price,
                        discountRate: item.discount_rate,
                        discountAmount: item.discount_amount,
                        description: item.description,
                    });
                });
                this.fetchLoading = false
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCustomersDetail(event) {
            try {
                this.customerDetail = "";
                const so = await axios.get(
                    `/api/transaction/sales_order/${this.id}`
                );
                const resultSo = await so.data;
                let response;
                if (event.id) {
                    response = await axios.get(`/transaction/quotation_material/customer-detail/${event.id}`);
                } else {
                    response = await axios.get(`/transaction/quotation_material/customer-detail/${resultSo.customer_id}`);
                }

                const result = await response.data;

                this.customerDetail = result
            } catch (err) {
                console.log(err);
            }
        },
        async fetchDepartments() {
            try {
                // const companyId = window.Laravel.auth.company_id;
                const response = await axios.get(
                    `/procurement/purchase_requisition/department`
                );
                const result = await response.data;
                result.map(res => {
                    this.departments.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCurencies() {
            try {
                const response = await axios.get(
                    `/transaction/sales_order/currency`
                );
                const result = await response.data;
                result.map(res => {
                    this.currencies.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCustomers() {
            try {
                // const companyId = window.Laravel.auth.company_id;
                const response = await axios.get(
                    `/transaction/quotation_material/customer`
                );
                const result = await response.data;
                result.map(res => {
                    this.customers.push({
                        id: res.id,
                        name: res.company_name,
                        priceCategory: res.price_category_id
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchSalesmens() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/salesman`
                );
                const result = await response.data;
                result.map(res => {
                    this.salesmans.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchPaymentTerms() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/paymentTerm`
                );
                const result = await response.data;
                result.map(res => {
                    this.paymentTerms.push({
                        id: res.id,
                        name: res.code + " - " + res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItems(e) {
            try {
                this.items = [];
                this.selectedItem = [];
                const response = await axios.get(`/transaction/quotation_material/product_price/${e.priceCategory}`);
                const result = await response.data;
                result.map(res => {
                    this.items.push({
                        id: res.product_id,
                        name: res.product.code + " - " + res.product.name,
                        productPrice: res.id
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItemAfterCreateProduct() {
            try {

                const response = await axios.get(`/transaction/quotation_material/product_price/${this.selectedCustomer.priceCategory}`);
                const result = await response.data;
                result.map(res => {
                    this.items.push({
                        id: res.product_id,
                        name: res.product.code + " - " + res.product.name,
                        productPrice: res.id
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchUoms() {
            const response = await axios.get(`/procurement/purchase_requisition/uom`);
            const result = await response.data;

            this.uoms = result;
        },
        async fetchItemDetails(e, i) {
            if (e) {

                const product_id = e.id
                this.products[i].price = null
                this.products[i].discountRate = null
                this.products[i].discountAmount = null
                this.products[i].uom = null
                axios(`/api/transaction/product/product-detail/${product_id}`)
                    .then(response => {
                        const uom = response.data.uom_id
                        this.products[i].uom = uom
                        if (uom) {

                            axios(`/api/procurement/product/product-price/${product_id}/${uom}`)
                                .then(response => {

                                    if (response.data) {
                                        const price = response.data.price
                                        const discountRate = response.data.discount
                                        const discountAmount = response.data.discount_amount
                                        this.products[i].price = parseInt(price, 10)
                                        this.products[i].discountRate = discountRate
                                        this.products[i].discountAmount = parseInt(discountAmount, 10)
                                    }
                                })
                                .catch(e => console.log(e));
                        }
                    })
                    .catch(e => console.log(e));
            }
        },
        async fetchUomDetails(e, i) {
            const product_id = this.products[i].item
            this.products[i].uom = null
            this.products[i].price = null
            this.products[i].discountRate = null
            this.products[i].discountAmount = null
            if (e) {
                axios(`/api/procurement/product/product-price/${product_id}/${e}`)
                    .then(response => {
                        if (response.data) {
                            const price = response.data.price
                            const discountRate = response.data.discount
                            const discountAmount = response.data.discount_amount
                            this.products[i].price = parseInt(price, 10)
                            this.products[i].discountRate = discountRate
                            this.products[i].discountAmount = parseInt(discountAmount, 10)
                        }
                    })
                    .catch(e => console.log(e));
            }
        },
        async fetchProjectCode() {
            try {
                const response = await axios.get(`/api/purchase-order/project`)
                const result = await response.data;
                result.map(res => {
                    this.projects.push({
                        id: res.id,
                        name: res.name
                    })
                })
            } catch (e) {

            }
        },
        addItem() {
            this.products.push({
                item: null,
                qty: null,
                uom: null,
                description: null,
                discountRate: null,
                discountAmount: null,
                price: null,
            });
        },
        async removeItem(itemId) {
            const response = await axios.post(
                `/api/transaction/quotation_material/removeItem/${itemId}`
            );
            const result = await response.data;

        },
        deleteItem(i, itemId) {
            this.$swal({
                title: "Are you sure?",
                text: "You can't revert your action",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes Delete it!",
                cancelButtonText: "No, Keep it!",
                showCloseButton: true,
                showLoaderOnConfirm: true
            }).then(result => {
                if (result.value) {
                    if (typeof itemId !== "undefined") {
                        this.removeItem(itemId);
                    }
                    this.products.splice(i, 1);
                    this.$swal(
                        "Deleted",
                        "You successfully deleted this data",
                        "success"
                    );
                } else {
                    this.$swal("Cancelled", "Your file is still intact", "info");
                }
            });
        },
        async handleSubmit() {
            this.loading = true;

            try {

                let data = {};
                data["_method"] = "PUT";

                data["customer_id"] = this.form.customer;
                data["salesman_id"] = this.form.salesman;
                data["project_id"] = this.form.project_id;
                data["department_id"] = this.form.department;
                data["currency_id"] = this.form.currency;
                data["products"] = this.products;
                data["get_total"] = this.form.getTotal;
                data["discount_all_item"] = this.form.discountAllItem;
                data["sub_total"] = this.form.subTotal;
                data["tax_id"] = this.form.tax_id;
                data["total"] = this.form.total;
                data["description"] = this.form.description;
                data["payment_term_id"] = this.form.paymentTerm;
                data["resubmit"] = this.resubmit;

                const response = await axios.post(
                    `/transaction/sales_order/${this.id}`,
                    data
                );
                const result = await response;
                if (result.data.success == true) {
                    window.location.href = result.data.redirect;
                }
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    this.errors = err.response.data.errors;
                }
            }
        }
    }

};
</script>
