<template>
<modal name="price-history-modal" :resizable="resizable" :adaptive="adaptive" height="auto" :scrollable="true" style="padding-top:40px;padding-bottom:40px;overflow-x:scroll;" width="55%">
    <div class="card-body">
        <div class="tab-pane" id="price_history" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-body">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Riwayat Penjualan</h4>
                    <hr>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" cellspacing="0" id="datatable">
                        <tr>
                            <th style="text-align: center;">Customer Name</th>
                            <th style="text-align: center;">Date</th>
                            <th style="text-align: center;">Price</th>
                            <th style="text-align: center;">Amount</th>
                            <th style="text-align: center;">Sales Order Number</th>
                        </tr>
                        <tbody>
                            <tr v-for="(product, index) in this.billing" :key="index">
                                <td>{{ product.sales_order.customer.company_name }}</td>
                                <td>{{ product.sales_order.date }}</td>
                                <td style="text-align:right;">{{ formatPrice(product.price) }}</td>
                                <td style="text-align:right;">{{ formatPrice(product.sub_total) }}</td>
                                <td>{{ product.sales_order.code_number }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Riwayat Pembelian</h4>
                    <hr>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" cellspacing="0" id="datatable">
                        <tr>
                            <th style="text-align: center;">Supplier Name</th>
                            <th style="text-align: center;">Date</th>
                            <th style="text-align: center;">Price</th>
                            <th style="text-align: center;">Amount</th>
                            <th style="text-align: center;">PO Number</th>
                            <!-- <th style="text-align: center;">Action</th> -->
                        </tr>
                        <tbody>
                            <tr v-for="(history, index) in this.pr_history" :key="index">
                                <td>{{ history.purchase_order.supplier.company_name }}</td>
                                <td>{{ history.purchase_order.date }}</td>
                                <td style="text-align:right;">{{ formatPrice(history.price) }}</td>
                                <td style="text-align:right;">{{ formatPrice(history.sub_total) }}</td>
                                <td>{{ history.purchase_order.code_number }}</td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</modal>
</template>

<script>
import axios from "axios";
import vmodal from 'vue-js-modal'
Vue.use(vmodal)
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import vSelect from "vue-select";
import Input from "../../../../../../../resources/js/components/commons/input";
import "vue-select/dist/vue-select.css";
import DatePicker from "vue-md-date-picker";

export default {
    props: ['id', 'billing', 'pr_history'],
    components: {
        ValidationErrors,
        vSelect,
        DatePicker,
        Input,
    },
    data() {
        return {
            resizable: false,
            adaptive: true,
            validationErrors: "",
        };
    },
    methods: {

        formatPrice(value) {
            let val = (value / 1).toFixed(0).replace(",", ".");
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
    }

}
</script>
