<template>
    <div>
        <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
        <form @submit.prevent="handleSubmit">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Supplier</label>
                        <v-select v-model="selectedCustomer" :options="customer" label="name" disabled/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Memo of Credit/Debit</label>
                        <v-select v-model="selectedInvoice" :options="invoice" label="invoice_number" disabled />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="date">Date</label>
                        <input type="text" @click="show_start = true" class="form-control" v-model="data_return.date" required/>
                        <date-picker @close="show_start = false" v-if="show_start" v-model="data_return.date"></date-picker>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="code_number">Code Number</label>
                        <input
                                v-model="data_return.code_number"
                                type="text"
                                class="form-control"
                                disabled
                        />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="remarks">Remarks</label>
                        <textarea v-model="data_return.remarks" class="form-control" id="remarks" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover" id="tab_logic">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Item</th>
                                        <th class="text-center">Invoice Qty</th>
                                        <th class="text-center">Returnable Qty</th>
                                        <th class="text-center">Returned Qty</th>
                                        <th class="text-center">UoM</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Discount (%)</th>
                                        <th class="text-center">Sub Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(data, index) in this.invoiceDetail" :key="index">
                                        <td class="text-center" width="25%">
                                            <input type="text" class="form-control" v-model="data.item" readonly>
                                        </td>
                                        <td class="text-right">
                                            <money
                                                    v-model="data.invoice_qty"
                                                    style="font-size:14px; text-align:right"
                                                    class="form-control m-input"
                                                    disabled
                                            ></money>
                                        </td>
                                        <td class="text-right">
                                            <money
                                                    v-model="data.returnable_qty"
                                                    style="font-size:14px; text-align:right"
                                                    class="form-control m-input"
                                                    disabled
                                            ></money>
                                        </td>
                                        <td class="text-right">
                                            <money
                                                    v-model="data.qty"
                                                    style="font-size:14px; text-align:right"
                                                    class="form-control m-input"
                                                    @input="calculateSubtotal($data, index)"
                                            ></money>
                                            <p v-if="data.qty > data.returnable_qty" style="color: red">Returned Qty Cannot Bigger Than Current Qty</p>
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control" v-model="data.uom" readonly>
                                        </td>
                                        <td>
                                            <money
                                                    v-model="data.price"
                                                    style="font-size:14px; text-align:right"
                                                    class="form-control m-input"
                                                    disabled
                                            ></money>
                                        </td>
                                        <td>
                                            <input type="number"
                                                   class="form-control"
                                                   v-model="data.discount_amount"
                                                   min="0" max="100" disabled
                                            >
                                        </td>
                                        <td width="10%" align="right">
                                            {{ formatPrice((data.price * data.qty) - (data.discount_amount ? ((data.discount_amount / 100) * data.price) : 0) *  data.qty) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" align="right" style="font-size:13px; font-weight:bold">Subtotal Exclude Discount All Items</td>
                                        <td align="right">
                                            {{ formatPrice(subTotalExcludeDiscount) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" align="right" style="font-size:13px; font-weight:bold">Discount All Items (RM)</td>
                                        <td align="right">
                                            <money
                                                    v-model="purchase_return.discount_all_item"
                                                    style="font-size:14px; text-align:right"
                                                    class="form-control m-input"
                                            ></money>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" align="right" style="font-size:13px; font-weight:bold">Sub Total</td>
                                        <td align="right">
                                            {{ formatPrice(subTotalIncludeDiscount) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" align="right" style="font-size:13px; font-weight:bold">GST {{ purchase_return.discount_gst }} %</td>
                                        <td align="right">
                                            {{ formatPrice(getGst) }}
                                        </td>
                                    </tr>
                                    <tr style="font-size:16px; font-weight:bold">
                                        <td colspan="7" align="right">Total</td>
                                        <td align="right" style="color:#5b35c4">
                                            {{ formatPrice(grandTotal) }}
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-whitesmoke text-md-left">
                    <button class="btn btn-primary btn-lg" id="save-btn" :disabled="submitLoading || purchase_return.grand_total === 0">{{ this.submitLoading ? 'Please Wait...' : 'Update' }}</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import vSelect from "vue-select";
    import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
    import DatePicker from "vue-md-date-picker";

    export default {
        props: ['return'],
        components: {
            vSelect,
            ValidationErrors,
            DatePicker,
        },
        data(){
            return{
                customer: [],
                selectedCustomer: null,
                invoice: [],
                selectedInvoice: null,
                invoiceDetail: [],
                remarks: null,
                date: null,
                code_number: null,
                loadingFetch: false,
                validationErrors: "",
                submitLoading: false,
                show_start: false,
                purchase_return: {
                    subtotal_exclude_discount: 0,
                    discount_all_item: 0,
                    subtotal_include_discount: 0,
                    discount_gst: 0,
                    amount_gst: 0,
                    grand_total: 0
                },
                data_return: {
                    id: null,
                    code_number: null,
                    date: null,
                    remarks: null,
                },
            }
        },
        mounted(){
            this.fetchTaxs();
            this.fetchPurchaseInvoice();
            this.getPurchaseReturn();
        },
        computed: {
            subTotalExcludeDiscount() {
                const total = this.invoiceDetail.reduce((a, b) => a + (b.price * b.qty) - (b.discount_amount ? ((b.discount_amount / 100) * b.price) : 0) * b.qty, 0);
                this.purchase_return.subtotal_exclude_discount = total ? total : 0;
                return total;
            },
            subTotalIncludeDiscount() {
                const total = this.purchase_return.subtotal_exclude_discount  - this.purchase_return.discount_all_item;
                this.purchase_return.subtotal_include_discount = total ? total : 0;
                return total;
            },
            getGst() {
                const total = ((this.purchase_return.discount_gst / 100) * this.purchase_return.subtotal_include_discount);
                this.purchase_return.amount_gst = total ? total : 0;
                return total;
            },
            grandTotal() {
                const total = this.purchase_return.subtotal_include_discount + this.purchase_return.amount_gst;
                this.purchase_return.grand_total = total ? total : 0;
                return total;
            }
        },
        watch: {},
        methods: {
            getPurchaseReturn(){
                console.log(this.return)
                this.data_return.id = this.return.id;
                this.data_return.code_number = this.return.code_number;
                this.data_return.date = this.return.date;
                this.data_return.remarks = this.return.description;

                this.selectedCustomer = {
                    id: this.return.customer.id,
                    name: this.return.customer.company_name,
                };

                this.selectedInvoice = {
                    id: this.return.invoice.id,
                    invoice_number: this.return.invoice.invoice_number,
                };

                this.return.details.map(result => {
                    this.invoiceDetail.push({
                        id: result.id,
                        invoice_detail_id: result.invoice_detail_id,
                        item: result.item,
                        qty: parseInt(result.qty),
                        uom: result.uom,
                        price: parseInt(result.price),
                        discount_amount: result.discount_amount ? result.discount_amount : 0,
                        sub_total: result.sub_total,
                        invoice_qty: parseInt(result.invoice_detail.qty),
                        returnable_qty: parseInt(result.invoice_detail.returnable_qty) + parseInt(result.qty)
                    })
                });
            },
            async fetchPurchaseInvoice(){
                try {
                    const response = await axios.get(`/procurement/purchase-return/${this.return.id}`);
                    const result = await response.data;
                } catch (err) {
                    console.log(err);
                }
            },
            formatPrice(value) {
                let val = (value / 1).toFixed(0).replace(",", ".");
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            async fetchTaxs() {
                try {
                    this.loadingFetch = true;
                    const response = await axios.get(
                        `/transaction/quotation_material/tax`
                    );
                    const result = await response.data;
                    this.purchase_return.discount_gst = result.rate;
                    this.loadingFetch  = false;
                } catch (err) {
                    console.log(err);
                }
            },
            calculateSubtotal(event, index){
                event.invoiceDetail.map((data, ix) => {
                    const subTotal = (data.price * data.qty) - (data.discount_amount ? ((data.discount_amount / 100) * data.price) : 0) *  data.qty;
                    this.invoiceDetail[ix].sub_total = subTotal ? subTotal : 0;
                });
            },
            async handleSubmit(){
                this.submitLoading = true;
                try {
                    let data = {};
                    data['customer_id'] = this.selectedCustomer.id;
                    data['invoice_id'] = this.selectedInvoice.id;
                    data['date'] = this.data_return.date;
                    data['remarks'] = this.data_return.remarks;
                    data['code_number'] = this.data_return.code_number;
                    data['subtotal_exclude_discount'] = this.purchase_return.subtotal_exclude_discount;
                    data['discount_all_item'] = this.purchase_return.discount_all_item;
                    data['subtotal_include_discount'] = this.purchase_return.subtotal_include_discount;
                    data['discount_gst'] = this.purchase_return.discount_gst;
                    data['amount_gst'] = this.purchase_return.amount_gst;
                    data['grand_total'] = this.purchase_return.grand_total;
                    data['details'] = this.invoiceDetail;

                    const response = await axios.put(`/transaction/sales-return/${this.data_return.id}`, data);
                    const result = await response;
                    if (result.data.status === 200) {
                        this.$swal({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            type: 'success',
                            text: `${result.data.message}`,
                        });
                        window.location.href = "/transaction/sales-return";
                    } else {
                        if (result.data.status === 422) {
                            this.$swal({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000,
                                type: 'error',
                                text: `${result.data.message}`,
                            });
                        } else {
                            this.$swal({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000,
                                type: 'error',
                                text: `Oppss... try again`,
                            });
                        }
                    }
                } catch (err) {
                    this.submitLoading = false;
                    if (err.response.status === 422) {
                        console.log(err.response.status);
                        this.validationErrors = err.response.data.errors;
                    } else {
                        alert(
                            "Please check the input"
                        );
                    }
                }
                this.submitLoading = false;
            }
        }
    }
</script>