<template>
    <div>
        <div v-if="fetchLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else>
            <ValidationErrors :errors="validationErrors" v-if="validationErrors"/>
            <form @submit.prevent="handleSubmit">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Purchase Order </label>
                            <v-select v-model="selectedPurchaseOrder"
                            @input="fetchPurchaseOrderDetail($event); fetchSupplierDetail($event)" :options="purchaseOrders"
                            label="name" :class="{ 'is-invalid': validationErrors.purchase_order_id }" >
                            <template #search="{attributes, events}">
                                <input
                                class="vs__search"
                                :required="!selectedPurchaseOrder"
                                v-bind="attributes"
                                v-on="events"
                                />
                            </template>
                        </v-select>
                        <label class="text-danger" v-if="validationErrors.purchase_order_id">{{
                        validationErrors.purchase_order_id[0] }}</label>
                    </div>
                </div>
            </div>
            <div v-show="showForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Supplier</label>
                            <v-select v-model="selectedSupplier" :options="suppliers" label="name" :class="{ 'is-invalid': errors.supplier_id }" required disabled>
                                <template #search="{attributes, events}">
                                    <input
                                    class="vs__search"
                                    :required="!selectedSupplier"
                                    v-bind="attributes"
                                    v-on="events"
                                    />
                                </template>
                            </v-select>
                            <label class="text-danger" v-if="errors.supplier_id">{{ errors.supplier_id[0] }}</label>
                        </div>
                    </div>
                    
                </div>
                <h4>Supplier Detail</h4>
                <div class="row">
                    <div class="col-md-4">

                        <label>Company Name</label>
                        <input type="text" name="company_name" class="form-control" v-model="this.supplierDetail.company_name" disabled>
                        <br>
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" v-model="this.supplierDetail.email" disabled>
                        <br>
                    </div>

                    <div class="col-md-4">
                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" v-model="this.supplierDetail.phone" disabled>
                        <br>
                        <label>Fax Number</label>
                        <input type="text" name="fax" class="form-control" v-model="this.supplierDetail.fax" disabled>
                        <br>

                    </div>
                    <div class="col-md-4">
                     <label>Address</label>
                     <textarea class="form-control" v-model="this.supplierDetail.address" disabled></textarea>
                     <br> 
                 </div>
             </div>

                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" @click="show_start = true" v-model="form.date" class="form-control"
                                       placeholder="yyyy-mm-dd" :class="{ 'is-invalid': validationErrors.date }">
                                <label class="text-danger" v-if="validationErrors.date">{{ validationErrors.date[0]
                                    }}</label>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Remarks</label>
                                <textarea v-model="form.description" cols="40" style="height:100px" class="form-control"
                                          :class="{ 'is-invalid': validationErrors.description }"></textarea>
                                <label class="text-danger" v-if="validationErrors.description">{{
                                    validationErrors.description[0] }}</label>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hovered" style="font-size:16px">
                                    <thead>
                                        <tr>
                                            <th align="center" style="font-size:16px;">#</th>
                                            <th align="center" style="width:30%;font-size:16px;">
                                                Item
                                                <sup style="color:red">*</sup>
                                            </th>
                                            <th align="center" width="10%" style="font-size:16px;">
                                                UoM
                                                <sup style="color:red">*</sup>
                                            </th>
                                            <th align="center" style="font-size:16px;">
                                                Purchased Qty
                                                <sup style="color:red">*</sup>
                                            </th>

                                            <th align="center" style="font-size:16px;" width="13%">
                                                Confirm Qty
                                                <sup style="color:red">*</sup>
                                            </th>
                                            <th align="center" width="15%" style="font-size:16px;">
                                                Warehouse
                                                <sup style="color:red">*</sup>
                                            </th>
                                            <th align="center" width="1%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(product, index) in this.products" :key="index">
                                            <td width="3%">{{ index + 1}}</td>
                                            <td>
                                                <v-select v-model="selectedItem[index]"
                                                @input="fetchItemDetails($event, index)" :options="items"
                                                label="name" disabled required style="font-size:16px;"/>
                                                <br>
                                                <input type="text" v-model="product.description" style="font-size:16px"
                                                class="form-control m-input" required />
                                            </td>
                                            <td>
                                                <input v-model="product.uom" min="0" style="font-size:16px;"
                                                class="form-control m-input" disabled /><br>
                                            </td>
                                            <td width="10%">
                                                <input @keypress="isNumber($event)" v-model="product.purchaseQty" value="0"
                                                style="font-size:16px; text-align:right" disabled
                                                class="form-control m-input" required/>
                                            </td>

                                            <td width="13%">
                                                <input @keypress="isNumber($event)" v-model="product.confirmQty" value="0"
                                                type="text" min="0" style="font-size:16px; text-align:right"
                                                class="form-control m-input" required/><br>
                                            </td>
                                            <td width="15%">
                                                <v-select v-model="selectedWarehouses[index]"
                                                :options="warehouses"
                                                label="name" style="font-size:16px;" :required="!selectedWarehouses[index]">
                                                <template #search="{attributes, events}">
                                                    <input
                                                    class="vs__search"
                                                    :required="!selectedWarehouses[index]"
                                                    v-bind="attributes"
                                                    v-on="events"
                                                    />
                                                </template>
                                            </v-select>     
                                            <br>
                                        </td>
                                        <td width="2%">
                                            <button @click.prevent="deleteItem(index)" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--right">
                        <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Save' }}</button>
                    </div>
                </div>
            </div>
            <date-picker @close="show_start = false" v-if="show_start" v-model="form.date"></date-picker>
        </form>
    </div>
</div>
</template>

<script>
    import axios from "axios";
    import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
    import Input from "../../../../../../../resources/js/components/commons/input";
    import "vue-select/dist/vue-select.css";
    import vSelect from "vue-select";
    import DatePicker from "vue-md-date-picker";

    export default {
        props: ['po', 'po-id'],
        components: {
            vSelect,
            ValidationErrors,
            Input,
            DatePicker
        },
        data() {
            return {
                products: [],
                form: {
                    paymentTerm: "",
                    address: "",
                    description: "",
                },
                salesmans: [],
                customers: [],
                suppliers: [],
                warehouses: [],
                departments: [],
                purchaseOrders: [],
                items: [],
                uoms: [],
                errors: [],
                loading: false,
                selectedSalesman: null,
                selectedSupplier: null,
                selectedDepartment: null,
                selectedPurchaseOrder: null,
                selectedItem: [],
                selectedWarehouses: [],
                validationErrors: "",
                show_start: false,
                fetchLoading: false,
                showForm: this.poId ? true : false,
                customerDetail:"",
                show_customer_detail:false,
                supplierDetail:"",
                show_supplier_detail:false,
            };
        },
        mounted() {
            this.fetchDepartments();
            this.fetchSalesmens();
            this.fetchCustomers();
            this.fetchPurchaseOrders();
            this.fetchItems();
            this.fetchWarehouses();
            this.fetchUoms();
            this.date();

        },
        computed: {},
        watch: {
            selectedDepartment: {
                handler() {
                    this.form.department = this.selectedDepartment.id;
                }
            },
            selectedSalesman: {
                handler() {
                    this.form.salesman = this.selectedSalesman.id;
                }
            },
            selectedCustomer: {
                handler() {
                    this.form.customer = this.selectedCustomer.id;
                }
            },
            selectedPurchaseOrder: {
                handler() {
                    this.form.purchaseOrder = this.selectedPurchaseOrder.id;
                }
            },
            selectedItem: {
                handler() {
                    const selectedItems = this.selectedItem;

                    selectedItems.map((item, i) => {
                        this.products[i].item = item.id;
                    });
                }
            },
            selectedWarehouses: {
                handler() {
                    const selectedWarehouses = this.selectedWarehouses;

                    selectedWarehouses.map((warehouse, i) => {
                        this.products[i].warehouse = warehouse.id;
                    });
                }
            }
        },
        methods: {
            date() {
                let date = new Date();
                this.form.date = moment(date).format('Y-MM-D')
            },
            formatPrice(value) {
                let val = (value / 1).toFixed(0).replace(",", ".");
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            isNumber: function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                    ;
                } else {
                    return true;
                }
            },
            callFromChildCustomer() {
                this.$root.$on('refetch_the_customer_from_qm', () => {
                    this.rerenderCustomers()
                })
            },
            showCustomer(e) {
                console.log(e)
                this.$modal.show('customer-modal')
            },
            async fetchSupplierDetail(e){
             try {
                this.supplierDetail= "";

                const responses = await axios.get(
                    `/api/detail-purchase-order?purchase_order_id=${e.id}`
                    );
                const results = await responses.data;

                const response = await axios.get(`/procurement/purchase-order/supplier-detail?supplier_id=${results.supplier_id}`);
                const result = await response.data;

                this.supplierDetail = result
            } catch (err) {
                console.log(err);
            }
        },
        async fetchPurchaseOrders() {
            try {
                const response = await axios.get(
                    `/procurement/purchase-order/get-po`
                    );
                const result = await response.data;
                result.map(res => {
                    this.purchaseOrders.push({
                        id: res.id,
                        name: res.code_number
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchDepartments() {
            try {
                const response = await axios.get(
                    `/procurement/purchase_requisition/department`
                    );
                const result = await response.data;
                result.map(res => {
                    this.departments.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCustomers() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/customer`
                    ); 
                const result = await response.data;
                result.map(res => {
                    this.customers.push({
                        id: res.id,
                        name: res.company_name + " - " + res.pic_1 + " - " + res.pic_phone_1,
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCustomersDetail(e){
         try {
            this.customerDetail= "";

            const responses = await axios.get(
                `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${e.id}`
                );
            const results = await responses.data;

            const response = await axios.get(`/transaction/quotation_material/customer-detail/${results.customer_id}`);
            const result = await response.data;

            this.customerDetail = result
        } catch (err) {
            console.log(err);
        }
    },
    async rerenderCustomers() {
        try {
            const response = await axios.get(`/transaction/quotation_material/product_price/${this.selectedCustomer.priceCategory}`);
            const result = await response.data;
            result.map(res => {
                this.customers.push({
                    id: res.id,
                    name: res.company_name + " - " + res.pic_1 + " - " + res.pic_phone_1,
                    priceCategory: res.price_category_id
                });
            });
        } catch (err) {
            console.log(err);
        }
    },
    childMessageReceivedCustomer(value) {
        this.customers = []
        this.fetchCustomers()
    },
    async fetchSalesmens() {
        try {
            const response = await axios.get(
                `/transaction/quotation_material/salesman`
                );
            const result = await response.data;
            result.map(res => {
                this.salesmans.push({
                    id: res.id,
                    name: res.name
                });
            });
        } catch (err) {
            console.log(err);
        }
    },
    async fetchPurchaseOrderDetail(event) {
        try {
            this.products = [];
            this.selectedItem = [];
            this.selectedWarehouses = [];
            this.selectedSupplier = [];

            this.form.department = "";
            this.form.customer = "";
            this.customerDetail= "";

            const po_id = event.id;

            const response = await axios.get(
                `/api/detail-purchase-order?purchase_order_id=${po_id}`
                );
            const result = await response.data;

            result.items.map((item, i) => {
                console.log(item)
                if (item.qty > 0) {
                    this.selectedItem.push({
                        id: item.product.id,
                        name: item.product.name
                    });

                    if(item.warehouse){
                        this.selectedWarehouses.push({
                            id: item.warehouse_id,
                            name:item.warehouse.name,
                        })
                    }

                    this.products.push({
                        purchase_order_id: item.purchase_order_id,
                        purchase_order_item_id: item.id,
                        purchaseQty: item.qty,
                        uom: item.uom.name,
                        confirmQty:"",
                        description: item.description,
                    });
                }
            });
            this.showForm = true
            this.form.title = result.title;
            this.selectedSupplier.push({
                id:result.supplier_id,
                name:result.supplier.company_name,
            })
            this.form.purchaseOrder = result.id;


            this.showForm = true

        } catch (err) {
            console.log(err);
        }
    },
    async fetchSalesOrderMaterialDetailSO() {
        try {
            this.products = [];
            this.selectedItem = [];
            this.selectedWarehouses = [];

            this.form.department = "";
            this.form.customer = "";
            this.customerDetail= "";

            const so_id = this.soId;
            if (so_id) {


                const response = await axios.get(
                    `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${so_id}`
                    );
                const result = await response.data;

                result.items.map((item, i) => {
                    if (item.delivered_qty > 0) {
                        this.selectedItem.push({
                            id: item.product.id,
                            name: item.product.name
                        });
                        this.products.push({
                            purchase_order_id: item.purchase_order_id,
                            purchase_order_item_id: item.id,
                            purchaseQty: item.qty,
                            uom: item.uom.name,
                            confirmQty: "",
                            description: item.description,
                        });
                    }
                });
                this.form.title = result.title;
                this.form.description = result.description;

                this.form.purchaseOrder = result.id;


                this.selectedPurchaseOrder = {
                    id: result.id,
                    name: result.code_number
                }


                this.showForm = true


            }
        } catch (err) {
            console.log(err);
        }
    },
    async fetchItems() {
        try {
            const response = await axios.get(`/procurement/purchase_requisition/product`);
            const result = await response.data;
            result.map(res => {
                this.items.push({
                    id: res.id,
                    name: res.code + " - " + res.name
                });
            });
        } catch (err) {
            console.log(err);
        }
    },
    async fetchWarehouses() {
        try {
            const response = await axios.get(`/transaction/delivery_order_material/warehouse`);
            const result = await response.data;
            result.map(res => {
                this.warehouses.push({
                    id: res.id,
                    name: res.code + " - " + res.pic
                });
            });
        } catch (err) {
            console.log(err);
        }
    },
    async fetchItemDetails(e, i) {
        const id = e.id
        axios(`/transaction/quotation_material/product/${id}`)
        .then(response => {
            const {
                price
            } = response.data
            const {
                description
            } = response.data
            this.products[i].description = description,
            this.products[i].price = price
        })
        .catch(e => console.log(e));
    },
    async fetchUoms() {
        const response = await axios.get(`/procurement/purchase_requisition/uom`);
        const result = await response.data;
        this.uoms = result;
    },
    deleteItem(i) {
        this.products.splice(i, 1);
    },
    async handleSubmit() {
        this.loading = true;
        console.log(this.products)

        try {
            let data = {};
                    data["date"] = this.form.date;
                    data["description"] = this.form.description;
                    data["products"] = this.products;

                    if (this.products == 0) {
                        alert(
                            "Product cannot be empty"
                            );
                        this.loading = false;

                    } else {
                        console.log(data)
                        const response = await axios.post(
                            "/stock/stock-in",
                            data
                            );
                        const result = await response;
                        console.log(result)
                        if (result['data']['success'] === false) {
                            alert('Confirm Qty cant be greater than Purchased Qty')
                            this.loading = false;
                        } else if (result['data']['success'] === true) {
                            window.location.href = result['data']['redirect'];
                        }else if(result['data']['success'] = 'notselectwarehouse'){
                            alert('Please select warehouse first')
                            this.loading = false;
                        }else{
                           alert('Oops , please try again')
                       }
                   }
               } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    console.log(err.response.status);
                    this.validationErrors = err.response.data.errors;
                } else {
                    console.log(err)
                    alert(
                        "Please check the input", err
                        );
                }
            }
        }
    }
};
</script>
