<template>
    <div>
        <div v-if="fetchLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else>
            <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
            <form @submit.prevent="handleSubmit">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Purchase Order </label>
                            <input type="text" disabled v-model="form.purchase_order" class="form-control" :class="{ 'is-invalid': validationErrors.title }" />
                            <label class="text-danger" v-if="validationErrors.purchase_order_id">{{ validationErrors.purchase_order_id[0] }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Supplier</label>
                            <v-select v-model="selectedSupplier" :options="suppliers" label="name" :class="{ 'is-invalid': errors.supplier_id }" required disabled>
                                <template #search="{attributes, events}">
                                    <input
                                    class="vs__search"
                                    :required="!selectedSupplier"
                                    v-bind="attributes"
                                    v-on="events"
                                    />
                                </template>
                            </v-select>
                            <label class="text-danger" v-if="errors.supplier_id">{{ errors.supplier_id[0] }}</label>
                        </div>
                    </div>
                    
                </div>
                <h4>Supplier Detail</h4>
                <div class="row">
                    <div class="col-md-4">

                        <label>Company Name</label>
                        <input type="text" name="company_name" class="form-control" v-model="this.supplierDetail.company_name" disabled>
                        <br>
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" v-model="this.supplierDetail.email" disabled>
                        <br>
                        
                    </div>

                    <div class="col-md-4">
                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" v-model="this.supplierDetail.phone" disabled>
                        <br>
                        <label>Fax Number</label>
                        <input type="text" name="fax" class="form-control" v-model="this.supplierDetail.fax" disabled>
                        <br>
                        
                    </div>
                    <div class="col-md-4">

                     <label>Address</label>
                     <textarea class="form-control" v-model="this.supplierDetail.address" disabled></textarea>
                     <br> 
                 </div>
             </div>
           <!--  <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" v-model="form.date" @click="show_start=true" class="form-control" :class="{ 'is-invalid': errors.date }" placeholder="yyyy-mm-dd" />
                        <label class="text-danger" v-if="errors.date">{{ errors.date[0] }}</label>
                    </div>
                </div>
            </div> -->
            

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hovered" style="font-size:9px">
                            <thead>
                                <tr>
                                    <th align="center">#</th>
                                    <th align="center" style="width:30%;font-size: 16px;">
                                        Item
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" width="10%" style="font-size: 16px;">
                                        UoM
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" style="font-size: 16px;">
                                        Purchased Qty
                                        <sup style="color:red">*</sup>
                                    </th>

                                    <th align="center" style="font-size: 16px;">
                                        Confirm Qty
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" width="10%" style="font-size: 16px;">
                                        Warehouse
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <!-- <th align="center">Warehouse</th> -->
                                    <th align="center" width="5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(product, index) in this.products" :key="index">
                                    <td width="3%">{{ index + 1}}</td>
                                    <td>
                                        <v-select v-model="selectedItem[index]" style="font-size: 16px;" @input="fetchItemDetails($event, index)" :options="items" label="name" required disabled /><br>
                                        <input type="text" v-model="product.description"style="font-size: 16px;" class="form-control m-input" required />
                                    </td>
                                    <td>
                                        <select v-model="product.uom" class="form-control" style="font-size: 16px;" required disabled>
                                            <option v-for="(item, i) in uoms" :value="item.id" :key="i">{{ item.name }}</option>
                                        </select>
                                    </td>
                                    <td width="10%">
                                        <input @keypress="isNumber($event)" v-model="product.purchaseQty" value="0" style="font-size:16px; text-align:right" class="form-control m-input" required disabled/>
                                    </td>
                                    <td width="15%">
                                        <input @keypress="isNumber($event)" v-model="product.confirmQty" value="0" max="100" style="font-size:16px; text-align:right" class="form-control m-input" /><br>

                                    </td>
                                    <td width="15%">
                                        <select v-model="product.warehouse" class="form-control" style="font-size: 16px;" required >
                                            <option v-for="(item, i) in warehouses" :value="item.id" :key="i">{{ item.name }}</option>
                                        </select>
                                    </td>
                                    <td width="2%">
                                        <button @click.prevent="deleteItem(index, product.id)" class="btn btn-xs btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--right">
                    <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Update' }}</button>
                </div>
            </div>
        </form>
        <date-picker @close="show_start = false" v-if="show_start" v-model="form.date"></date-picker>
    </div>
</div>
</template>

<script>
    import axios from "axios";
    import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
    import DatePicker from "vue-md-date-picker";

    import "vue-select/dist/vue-select.css";
    import vSelect from "vue-select";

    export default {
        props: ["id", "resubmit"],
        components: {
            DatePicker,
            vSelect,
            ValidationErrors
        },
        data() {
            return {
                products: [],
                form: {
                    title: "",
                    department: "",
                    customer: "",
                    salesman: "",
                    description: "",
                    address: "",
                    resubmit: ""
                },
                show_start: false,
                show_end: false,
                customers: [],
                salesmans: [],
                suppliers:[],

                warehouses: [],
                departments: [],
                items: [],
                uoms: [],
                errors: [],
                loading: false,
                selectedCustomer: null,
                selectedSupplier: null,
                selectedDepartment: null,
                selectedSalesman: null,
                selectedWarehouses: [],
                selectedItem: [],

                validationErrors: "",
                fetchLoading: false,
                customerDetail:"",
                show_customer_detail:false,
                supplierDetail:"",
                show_supplier_detail:false,
            };
        },
        mounted() {
            this.fetchSupplierDetail();
            this.fetchWarehouses();
            this.fetchItems();
            this.fetchUoms();
            this.fetchPurchaseOrderDetail();
        },

        watch: {

            selectedDepartment: {
                handler() {
                    this.form.department = this.selectedDepartment.id;
                }
            },

            selectedSalesman: {
                handler() {
                    this.form.salesman = this.selectedSalesman.id;
                }
            },
        },
        methods: {
            formatPrice(value) {
                let val = (value / 1).toFixed(0).replace(",", ".");
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            isNumber: function(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();;
                } else {
                    return true;
                }
            },
            async fetchSupplierDetail(){
             try {
                this.supplierDetail= "";

                const responses = await axios.get(
                    `/api/detail-purchase-order?purchase_order_id=${this.id}`
                    );
                const results = await responses.data;

                const response = await axios.get(`/procurement/purchase-order/supplier-detail?supplier_id=${results.supplier_id}`);
                const result = await response.data;

                this.supplierDetail = result
            } catch (err) {
                console.log(err);
            }
        },
        async fetchPurchaseOrderDetail() {
            try {
                this.products = [];
                this.selectedItem = [];
                this.selectedWarehouses = [];
                this.selectedSupplier = [];

                this.form.department = "";
                this.form.customer = "";
                this.customerDetail= "";

                const po_id = this.id;

                const response = await axios.get(
                    `/api/detail-purchase-order?purchase_order_id=${po_id}`
                    );
                const result = await response.data;

                result.items.map((item, i) => {
                    console.log(item)
                    if (item.qty > 0) {
                        this.selectedItem.push({
                            id: item.product.id,
                            name: item.product.name
                        });

                        this.products.push({
                            purchase_order_id: item.purchase_order_id,
                            purchase_order_item_id: item.id,
                            purchaseQty: item.qty,
                            uom: item.uom_id,
                            confirmQty:item.stock_qty,
                            description: item.description,
                            warehouse: item.warehouse_id,
                        });
                    }
                });
                this.showForm = true
                this.form.title = result.title;


                this.form.purchase_order = result.code_number;
                this.form.date = result.date;
                this.selectedSupplier.push({
                    id:result.supplier_id,
                    name:result.supplier.company_name,
                })

                this.supplierDetail= "";

                const responses = await axios.get(
                    `/api/detail-purchase-order?purchase_order_id=${po_id}`
                    );
                const results = await responses.data;

                const supplier = await axios.get(`/procurement/purchase-order/supplier-detail?supplier_id=${results.supplier_id}`);
                const resultSupplier = await supplier.data;

                this.supplierDetail = resultSupplier
                this.showForm = true


            } catch (err) {
                console.log(err);
            }
        },

        async fetchWarehouses() {

            try {
                const response = await axios.get(`/transaction/delivery_order_material/warehouse`);
                const result = await response.data;
                result.map(res => {
                    this.warehouses.push({
                        id: res.id,
                        name: res.code + " - " + res.pic
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItems() {

            try {
                const response = await axios.get(`/procurement/purchase_requisition/product`);
                const result = await response.data;
                result.map(res => {
                    this.items.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },

        async fetchUoms() {
            const response = await axios.get(`/procurement/purchase_requisition/uom`);
            const result = await response.data;
            this.uoms = result;
        },

        async removeItem(itemId) {
            const response = await axios.post(
                `/api/transaction/delivery_order_material/removeItem/${itemId}`
                );
            const result = await response.data;
        },
        deleteItem(i, itemId) {
            this.$swal({
                title: "Are you sure?",
                text: "You can't revert your action",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes Delete it!",
                cancelButtonText: "No, Keep it!",
                showCloseButton: true,
                showLoaderOnConfirm: true
            }).then(result => {
                if (result.value) {
                    console.log(itemId)
                    if (typeof itemId !== "undefined") {
                        this.removeItem(itemId);
                    }
                    this.products.splice(i, 1);
                    this.$swal(
                        "Deleted",
                        "You successfully deleted this data",
                        "success"
                        );
                } else {
                    this.$swal("Cancelled", "Your file is still intact", "info");
                }
            });
        },
        async handleSubmit() {
            this.loading = true;

            try {

                let data = {};
                // data["title"] = this.form.title;
                data["_method"] = "PUT";
                data["date"] = this.form.date;
                data["description"] = this.form.description;
                data["products"] = this.products;

                const response = await axios.post(
                   `/stock/stock-in-update/${this.id}`,
                   data
                   );
                const result = await response;
                console.log(response)
                if (result['data']['success'] === false) {
                    alert('Confirm Qty cant be greater than Purchased Qty')
                    this.loading = false;
                } else if (result['data']['success'] === true) {
                    window.location.href = result['data']['redirect'];
                }else if(result['data']['success'] = 'notselectwarehouse'){
                    alert('Please select warehouse first')
                    this.loading = false;
                }else{
                    alert('Oops , please try again')
                }
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    this.errors = err.response.data.errors;
                }
            }
        }
    }

};
</script>
