<template>
    <div>
        <div v-if="fetchLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else>
            <ValidationErrors :errors="validationErrors" v-if="validationErrors"/>
            <form @submit.prevent="handleSubmit">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Sales Order </label>
                            <v-select v-model="selectedSalesOrderMaterial"
                            @input="fetchSalesOrderMaterialDetail($event); fetchCustomersDetail($event)" :options="salesOrderMaterials"
                            label="name" :class="{ 'is-invalid': validationErrors.sales_order_id }" >
                            <template #search="{attributes, events}">
                                <input
                                class="vs__search"
                                :required="!selectedSalesOrderMaterial"
                                v-bind="attributes"
                                v-on="events"
                                />
                            </template>
                        </v-select>
                        <label class="text-danger" v-if="validationErrors.sales_order_id">{{
                        validationErrors.sales_order_id[0] }}</label>
                    </div>
                </div>
            </div>
            <div v-show="showForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Customer</label>
                            <v-select v-model="selectedCustomer" :options="customers" label="name"
                            :class="{ 'is-invalid': validationErrors.customer_id }"  disabled/>
                            <div class="text-danger" v-if="validationErrors.customer_id">{{
                                validationErrors.customer_id[0] }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Salesman</label>
                            <v-select v-model="selectedSalesman" :options="salesmans" label="name"
                            :class="{ 'is-invalid': validationErrors.salesman_id }"/>
                            <div class="text-danger" v-if="validationErrors.salesman_id">{{
                                validationErrors.salesman_id[0] }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Department</label>
                            <v-select v-model="selectedDepartment" :options="departments" label="name"
                            :class="{ 'is-invalid': validationErrors.department_id }" disabled/>
                            <div class="text-danger" v-if="validationErrors.department_id">{{
                                validationErrors.department_id[0] }}
                            </div>
                        </div>
                    </div>
                </div>

                <h4>Customer Detail</h4>
                <div class="row">
                    <div class="col-md-4">

                        <label>Company Name</label>
                        <input type="text" name="company_name" class="form-control" v-model="this.customerDetail.company_name" disabled>
                        <br>
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" v-model="this.customerDetail.email" disabled>
                        <br>
                        <label>Contact Person </label>
                        <input type="text" name="pic_1" class="form-control" v-model="this.customerDetail.pic_1" disabled>
                        <br>

                    </div>
                    <div class="col-md-4">

                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" v-model="this.customerDetail.phone" disabled>
                        <br>
                        <label>Fax Number</label>
                        <input type="text" name="fax" class="form-control" v-model="this.customerDetail.fax" disabled>
                        <br>
                        <label>Address</label>
                        <textarea class="form-control" v-model="this.customerDetail.address" disabled></textarea>
                        <br>

                    </div>
                    <div class="col-md-4">
                        <label>Credit Limit</label>
                        <money
                        type="text"
                        name="credit_limit"
                        class="form-control"
                        v-model="this.customerDetail.credit_limit"
                        style="text-align:right;"
                        disabled
                        >
                    </money>
                    <br>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" @click="show_start = true" v-model="form.date" class="form-control"
                        placeholder="yyyy-mm-dd" :class="{ 'is-invalid': validationErrors.date }">
                        <label class="text-danger" v-if="validationErrors.date">{{ validationErrors.date[0]
                        }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea v-model="form.description" cols="40" style="height:100px" class="form-control"
                        :class="{ 'is-invalid': validationErrors.description }"></textarea>
                        <label class="text-danger" v-if="validationErrors.description">{{
                        validationErrors.description[0] }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hovered" style="font-size:16px">
                            <thead>
                                <tr>
                                    <th align="center" style="font-size:16px;">#</th>
                                    <th align="center" style="width:30%;font-size:16px;">
                                        Item
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" width="10%" style="font-size:16px;">
                                        UoM
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" style="font-size:16px;">
                                        Purchased Qty
                                        <sup style="color:red">*</sup>
                                    </th>

                                    <th align="center" style="font-size:16px;">
                                        Confirm Qty
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" width="10%" style="font-size:16px;">
                                        Warehouse
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(product, index) in this.products" :key="index">
                                    <td width="3%">{{ index + 1}}</td>
                                    <td>
                                        <v-select v-model="selectedItem[index]"
                                        @input="fetchItemDetails($event, index)" :options="items"
                                        label="name" disabled required style="font-size:16px;">
                                        <template #search="{attributes, events}">
                                            <input
                                            class="vs__search"
                                            :required="!selectedItem[index]"
                                            v-bind="attributes"
                                            v-on="events"
                                            />
                                        </template>
                                    </v-select>
                                    <br>
                                    <input type="text" v-model="product.description" style="font-size:16px"
                                    class="form-control m-input" required />
                                </td>
                                <td>
                                    <input v-model="product.uom" min="0" style="font-size:16px;"
                                    class="form-control m-input" disabled/><br>

                                </td>
                                <td width="10%">
                                    <input @keypress="isNumber($event)" v-model="product.purchaseQty" value="0"
                                    style="font-size:16px; text-align:right" disabled
                                    class="form-control m-input" required/>
                                </td>

                                <td width="10%">
                                     <money
                                        type="text"
                                        class="form-control"
                                        v-model="product.confirmQty"
                                        style="font-size:16px;text-align:right;"

                                        >
                                    </money>
                                        <br>
                                </td>
                                <td width="10%">
                                    <v-select v-model="selectedWarehouses[index]"
                                    :options="warehouses"
                                    label="name"  required style="font-size:16px;">
                                    <template #search="{attributes, events}">
                                        <input
                                        class="vs__search"
                                        :required="!selectedWarehouses[index]"
                                        v-bind="attributes"
                                        v-on="events"
                                        />
                                    </template>
                                </v-select>
                                <br>
                            </td>
                            <td width="10%">
                                <button @click.prevent="deleteItem(index)" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--right">
            <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Save' }}</button>
        </div>
    </div>
</div>
<date-picker @close="show_start = false" v-if="show_start" v-model="form.date"></date-picker>
</form>
</div>
</div>
</template>

<script>
    import axios from "axios";
    import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
    import Input from "../../../../../../../resources/js/components/commons/input";
    import "vue-select/dist/vue-select.css";
    import vSelect from "vue-select";
    import DatePicker from "vue-md-date-picker";

    export default {
        props: ['so', 'so-id'],
        components: {
            vSelect,
            ValidationErrors,
            Input,
            DatePicker
        },
        data() {
            return {
                products: [],
                form: {
                    paymentTerm: null,
                    address: null,
                    description: null,
                },
                salesmans: [],
                customers: [],
                warehouses: [],
                departments: [],
                salesOrderMaterials: [],
                items: [],
                uoms: [],
                errors: [],
                loading: false,
                selectedSalesman: null,
                selectedCustomer: null,
                selectedDepartment: null,
                selectedSalesOrderMaterial: null,
                selectedItem: [],
                selectedWarehouses: [],
                validationErrors: "",
                show_start: false,
                fetchLoading: false,
                showForm: this.soId ? true : false,
                customerDetail:"",
                show_customer_detail:false,
            };
        },
        mounted() {
            this.fetchDepartments();
            this.fetchSalesmens();
            this.fetchCustomers();
            this.fetchSalesOrderMaterial();
            this.fetchSalesOrderMaterialDetailSO();
            this.fetchItems();
            this.fetchWarehouses();
            this.fetchUoms();
            this.date();

        },
        computed: {},
        watch: {
            selectedDepartment: {
                handler() {
                    this.form.department = this.selectedDepartment.id;
                }
            },
            selectedSalesman: {
                handler() {
                    this.form.salesman = this.selectedSalesman.id;
                }
            },
            selectedCustomer: {
                handler() {
                    this.form.customer = this.selectedCustomer.id;
                }
            },
            selectedQuotationMaterial: {
                handler() {
                    this.form.quotationMaterial = this.selectedQuotationMaterial.id;
                }
            },
            selectedItem: {
                handler() {
                    const selectedItems = this.selectedItem;

                    selectedItems.map((item, i) => {
                        this.products[i].item = item.id;
                    });
                }
            },
            selectedWarehouses: {
                handler() {
                    const selectedWarehouses = this.selectedWarehouses;

                    selectedWarehouses.map((warehouse, i) => {
                        this.products[i].warehouse = warehouse.id;
                    });
                }
            }
        },
        methods: {
            date() {
                let date = new Date();
                this.form.date = moment(date).format('Y-MM-D')
            },
            formatPrice(value) {
                let val = (value / 1).toFixed(0).replace(",", ".");
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            isNumber: function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                    ;
                } else {
                    return true;
                }
            },
            callFromChildCustomer() {
                this.$root.$on('refetch_the_customer_from_qm', () => {
                    this.rerenderCustomers()
                })
            },
            showCustomer(e) {
                console.log(e)
                this.$modal.show('customer-modal')
            },
            async fetchDepartments() {
                try {
                    const response = await axios.get(
                        `/procurement/purchase_requisition/department`
                        );
                    const result = await response.data;
                    result.map(res => {
                        this.departments.push({
                            id: res.id,
                            name: res.name
                        });
                    });
                } catch (err) {
                    console.log(err);
                }
            },
            async fetchCustomers() {
                try {
                    const response = await axios.get(
                        `/transaction/quotation_material/customer`
                        );
                    const result = await response.data;
                    result.map(res => {
                        this.customers.push({
                            id: res.id,
                            name: res.company_name + " - " + res.pic_1 + " - " + res.pic_phone_1,
                        });
                    });
                } catch (err) {
                    console.log(err);
                }
            },
            async fetchCustomersDetail(e){
               try {
                this.customerDetail= "";

                const responses = await axios.get(
                    `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${e.id}`
                    );
                const results = await responses.data;

                const response = await axios.get(`/transaction/quotation_material/customer-detail/${results.customer_id}`);
                const result = await response.data;

                this.customerDetail = result
            } catch (err) {
                console.log(err);
            }
        },
        async rerenderCustomers() {
            try {
                const response = await axios.get(`/transaction/quotation_material/product_price/${this.selectedCustomer.priceCategory}`);
                const result = await response.data;
                result.map(res => {
                    this.customers.push({
                        id: res.id,
                        name: res.company_name + " - " + res.pic_1 + " - " + res.pic_phone_1,
                        priceCategory: res.price_category_id
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        childMessageReceivedCustomer(value) {
            this.customers = []
            this.fetchCustomers()
        },
        async fetchSalesmens() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/salesman`
                    );
                const result = await response.data;
                result.map(res => {
                    this.salesmans.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchSalesOrderMaterial() {
            try {
                this.fetchLoading = true
                const response = await axios.get(
                    `/stock/stock-cheking/sales_order`
                    );
                const result = await response.data;
                console.log(result)
                result.map(res => {
                    this.salesOrderMaterials.push({
                        id: res.id,
                        name: res.code_number
                    });
                });
                this.fetchLoading = false
            } catch (err) {
                console.log(err);
            }
        },
        async fetchSalesOrderMaterialDetail(event) {
            try {
                this.products = [];
                this.selectedItem = [];
                this.selectedWarehouses = [];

                this.form.department = "";
                this.form.customer = "";
                this.customerDetail= "";

                const so_id = event.id;

                const response = await axios.get(
                    `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${so_id}`
                    );
                const result = await response.data;

                result.items.map((item, i) => {
                    console.log(item)
                    if (item.delivered_qty > 0) {
                        this.selectedItem.push({
                            id: item.product.id,
                            name: item.product.name
                        });

                        if(item.warehouse){
                            this.selectedWarehouses.push({
                                id: item.warehouse_id,
                                name:item.warehouse.name,
                            })
                        }

                        this.products.push({
                            sales_order_id: item.sales_order_id,
                            sales_order_item_id: item.id,
                            purchaseQty: item.qty,
                            uom: item.uom.name,
                            sendQty: null,
                            confirmQty: null,
                            description: item.description,
                        });
                    }
                });
                this.form.title = result.title;
                    // this.form.description = result.description;
                    this.form.address = result.customer.address;
                    this.customer = result.customer.company_name + ' - ' + result.customer.pic_1 + ' - ' + result.customer.pic_phone_1;
                    this.department = result.department.name;
                    this.salesman = result.salesman.name;
                    this.form.salesOrderMaterial = result.id;

                    this.selectedDepartment = {
                        id: result.department_id,
                        name: result.department.name
                    }

                    this.selectedCustomer = {
                        id: result.customer_id,
                        name: result.customer.company_name + ' - ' + result.customer.pic_1 + ' - ' + result.customer.pic_phone_1 + ' - ' + result.customer.address
                    }
                    this.selectedSalesman = {
                        id: result.salesman_id,
                        name: result.salesman.name
                    }
                    this.showForm = true

                    const responses = await axios.get(
                        `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${event.id}`
                        );
                    const results = await responses.data;

                    const customer = await axios.get(`/transaction/quotation_material/customer-detail/${results.customer_id}`);
                    const resultCustomer = await customer.data;

                    this.customerDetail = resultCustomer
                } catch (err) {
                    console.log(err);
                }
            },
            async fetchSalesOrderMaterialDetailSO() {
                try {
                    this.products = [];
                    this.selectedItem = [];
                    this.selectedWarehouses = [];

                    this.form.department = "";
                    this.form.customer = "";
                    this.customerDetail= "";

                    const so_id = this.soId;
                    if (so_id) {


                        const response = await axios.get(
                            `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${so_id}`
                            );
                        const result = await response.data;

                        result.items.map((item, i) => {
                            if (item.delivered_qty > 0) {
                                this.selectedItem.push({
                                    id: item.product.id,
                                    name: item.product.name
                                });
                                this.products.push({
                                    sales_order_id: item.sales_order_id,
                                    sales_order_item_id: item.id,
                                    purchaseQty: item.delivered_qty,
                                    uom: item.uom.name,
                                    sendQty: "",
                                    description: item.description,
                                });
                            }
                        });
                        this.form.title = result.title;
                        this.form.description = result.description;
                        this.form.address = result.customer.address;
                        this.customer = result.customer.company_name + ' - ' + result.customer.pic_1 + ' - ' + result.customer.pic_phone_1;
                        this.department = result.department.name;
                        this.salesman = result.salesman.name;
                        this.form.salesOrderMaterial = result.id;

                        this.selectedDepartment = {
                            id: result.department_id,
                            name: result.department.name
                        }

                        this.selectedSalesOrderMaterial = {
                            id: result.id,
                            name: result.code_number
                        }

                        this.selectedCustomer = {
                            id: result.customer_id,
                            name: result.customer.company_name + ' - ' + result.customer.pic_1 + ' - ' + result.customer.pic_phone_1 + ' - ' + result.customer.address
                        }
                        this.selectedSalesman = {
                            id: result.salesman_id,
                            name: result.salesman.name
                        }
                        this.showForm = true

                        const responses = await axios.get(
                            `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${so_id}`
                            );
                        const results = await responses.data;

                        const customer = await axios.get(`/transaction/quotation_material/customer-detail/${results.customer_id}`);
                        const resultCustomer = await customer.data;

                        this.customerDetail = resultCustomer
                    }
                } catch (err) {
                    console.log(err);
                }
            },
            async fetchItems() {
                try {
                    const response = await axios.get(`/procurement/purchase_requisition/product`);
                    const result = await response.data;
                    result.map(res => {
                        this.items.push({
                            id: res.id,
                            name: res.code + " - " + res.name
                        });
                    });
                } catch (err) {
                    console.log(err);
                }
            },
            async fetchWarehouses() {
                try {
                    const response = await axios.get(`/transaction/delivery_order_material/warehouse`);
                    const result = await response.data;
                    result.map(res => {
                        this.warehouses.push({
                            id: res.id,
                            name: res.code + " - " + res.pic
                        });
                    });
                } catch (err) {
                    console.log(err);
                }
            },
            async fetchItemDetails(e, i) {
                const id = e.id
                axios(`/transaction/quotation_material/product/${id}`)
                .then(response => {
                    const {
                        price
                    } = response.data
                    const {
                        description
                    } = response.data
                    this.products[i].description = description,
                    this.products[i].price = price
                })
                .catch(e => console.log(e));
            },
            async fetchUoms() {
                const response = await axios.get(`/procurement/purchase_requisition/uom`);
                const result = await response.data;
                this.uoms = result;
            },
            deleteItem(i) {
                this.products.splice(i, 1);
            },
            async handleSubmit() {
                this.loading = true;
                console.log(this.products)

                try {
                    let data = {};
                    data["date"] = this.form.date;
                    data["department_id"] = this.form.department;

                    data["description"] = this.form.description;
                    data["products"] = this.products;

                    if (this.products == 0) {
                        alert(
                            "Product cannot be empty"
                            );
                        this.loading = false;

                    } else {
                        console.log(data)
                        const response = await axios.post(
                            "/stock/stock-checking",
                            data
                            );
                        const result = await response;
                        if (result['data']['success'] === false) {
                            alert('Confirm Qty cant be greater than Purchased Qty')
                            this.loading = false;
                        } else {
                            window.location.href = "/stock/stock-checking";
                        }
                    }
                } catch (err) {
                    this.loading = false;
                    if (err.response.status === 422) {
                        console.log(err.response.status);
                        this.validationErrors = err.response.data.errors;
                    } else {
                        alert(
                            "Please check the input"
                            );
                    }
                }
            }
        }
    };
</script>
