<template>
    <div>
        <div v-if="fetchLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else>
            <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
            <form @submit.prevent="handleSubmit">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Sales Order </label>
                            <input type="text" disabled v-model="form.sales_order" class="form-control" :class="{ 'is-invalid': validationErrors.title }" />
                            <label class="text-danger" v-if="validationErrors.sales_order_id">{{ validationErrors.sales_order_id[0] }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Customer</label>
                            <v-select v-model="selectedCustomer" :options="customers" label="name" :class="{ 'is-invalid': errors.customer_id }" required disabled>

                                <template #search="{attributes, events}">
                                    <input
                                    class="vs__search"
                                    :required="!selectedCustomer"
                                    v-bind="attributes"
                                    v-on="events"
                                    />
                                </template>
                            </v-select>
                            <label class="text-danger" v-if="errors.customer_id">{{ errors.customer_id[0] }}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Salesman</label>
                            <v-select v-model="selectedSalesman" :options="salesmans" label="name" :class="{ 'is-invalid': errors.salesman_id }" required >
                                <template #search="{attributes, events}">
                                    <input
                                    class="vs__search"
                                    :required="!selectedSalesman"
                                    v-bind="attributes"
                                    v-on="events"
                                    />
                                </template>
                            </v-select>
                            <label class="text-danger" v-if="errors.salesman_id">{{ errors.salesman_id[0] }}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Department</label>
                            <v-select v-model="selectedDepartment" :options="departments" label="name" disabled :class="{ 'is-invalid': errors.department_id }" required >
                                <template #search="{attributes, events}">
                                    <input
                                    class="vs__search"
                                    :required="!selectedDepartment"
                                    v-bind="attributes"
                                    v-on="events"
                                    />
                                </template>
                            </v-select>
                            <label class="text-danger" v-if="errors.department_id">{{ errors.department_id[0] }}</label>
                        </div>
                    </div>
                </div>
                <h4>Customer Detail</h4>
                <div class="row">
                    <div class="col-md-4">

                        <label>Company Name</label>
                        <input type="text" name="company_name" class="form-control" v-model="this.customerDetail.company_name" disabled>
                        <br>
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" v-model="this.customerDetail.email" disabled>
                        <br>
                        <label>Contact Person </label>
                        <input type="text" name="pic_1" class="form-control" v-model="this.customerDetail.pic_1" disabled>
                        <br>
                    </div>

                    <div class="col-md-4">
                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" v-model="this.customerDetail.phone" disabled>
                        <br>
                        <label>Fax Number</label>
                        <input type="text" name="fax" class="form-control" v-model="this.customerDetail.fax" disabled>
                        <br>
                        <label>Address</label>
                        <textarea class="form-control" v-model="this.customerDetail.address" disabled></textarea>
                        <br> 
                    </div>

                    <div class="col-md-4">
                        <label>Credit Limit</label>
                        <money
                        type="text"
                        name="credit_limit"
                        class="form-control"
                        v-model="this.customerDetail.credit_limit"
                        style="text-align:right;"
                        disabled
                        >
                    </money>
                    <br> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" v-model="form.date" @click="show_start=true" class="form-control" :class="{ 'is-invalid': errors.date }" placeholder="yyyy-mm-dd" />
                        <label class="text-danger" v-if="errors.date">{{ errors.date[0] }}</label>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea v-model="form.description" cols="40" style="height:100px" class="form-control"
                        :class="{ 'is-invalid': validationErrors.description }"></textarea>
                        <label class="text-danger" v-if="validationErrors.description">{{
                        validationErrors.description[0] }}</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hovered" style="font-size:9px">
                            <thead>
                                <tr>
                                    <th align="center">#</th>
                                    <th align="center" style="width:30%;font-size: 16px;">
                                        Item
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" width="10%" style="font-size: 16px;">
                                        UoM
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" style="font-size: 16px;">
                                        Purchased Qty
                                        <sup style="color:red">*</sup>
                                    </th>

                                    <th align="center" style="font-size: 16px;">
                                        Confirm Qty
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <th align="center" width="10%" style="font-size: 16px;">
                                        Warehouse
                                        <sup style="color:red">*</sup>
                                    </th>
                                    <!-- <th align="center">Warehouse</th> -->
                                    <th align="center" width="5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(product, index) in this.products" :key="index">
                                    <td width="3%">{{ index + 1}}</td>
                                    <td>
                                        <v-select v-model="selectedItem[index]" style="font-size: 16px;" @input="fetchItemDetails($event, index)" :options="items" label="name" required disabled /><br>
                                        <input type="text" v-model="product.description"style="font-size: 16px;" class="form-control m-input" required />
                                    </td>
                                    <td>
                                        <select v-model="product.uom" class="form-control" style="font-size: 16px;" required disabled>
                                            <option v-for="(item, i) in uoms" :value="item.id" :key="i">{{ item.name }}</option>
                                        </select>
                                    </td>
                                    <td width="10%">
                                        <input @keypress="isNumber($event)" v-model="product.purchaseQty" value="0" style="font-size:16px; text-align:right" class="form-control m-input" required disabled/>
                                    </td>
                                    <td width="20%">
                                        <money
                                        type="text"
                                        class="form-control"
                                        v-model="product.confirmQty"
                                        style="font-size:16px;text-align:right;"
                                        
                                        >
                                    </money>
                                    <br>

                                </td>
                                <td>
                                    <v-select v-model="selectedWarehouse[index]" style="font-size: 16px;" :options="warehouses" label="name" required  >
                                        <template #search="{attributes, events}">
                                            <input
                                            class="vs__search"
                                            :required="!selectedWarehouse[index]"
                                            v-bind="attributes"
                                            v-on="events"
                                            />
                                        </template>
                                    </v-select><br>
                                </td>
                                <!-- <td>
                                    <v-select v-model="selectedWarehouse[index]" :options="warehouses" label="name" required>
                                        <template #search="{attributes, events}">
                                            <input class="vs__search" required v-bind="attributes" v-on="events" v-model="product.warehouse" />
                                        </template>
                                    </v-select>
                                </td> -->
                                <td>
                                    <button @click.prevent="deleteItem(index, product.id)" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--right">
                <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Update' }}</button>
            </div>
        </div>
    </form>
    <date-picker @close="show_start = false" v-if="show_start" v-model="form.date"></date-picker>
</div>
</div>
</template>

<script>
    import axios from "axios";
    import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
    import DatePicker from "vue-md-date-picker";

    import "vue-select/dist/vue-select.css";
    import vSelect from "vue-select";

    export default {
        props: ["id", "resubmit"],
        components: {
            DatePicker,
            vSelect,
            ValidationErrors
        },
        data() {
            return {
                products: [],
                form: {
                    title: "",
                    department: "",
                    customer: "",
                    salesman: "",
                    description: "",
                    address: "",
                    resubmit: ""
                },
                show_start: false,
                show_end: false,
                customers: [],
                salesmans: [],

                warehouses: [],
                departments: [],
                items: [],
                uoms: [],
                errors: [],
                loading: false,
                selectedCustomer: null,
                selectedDepartment: null,
                selectedSalesman: null,
                selectedWarehouse: [],
                selectedItem: [],

                validationErrors: "",
                fetchLoading: false,
                customerDetail:"",
                show_customer_detail:false,
            };
        },
        mounted() {
            this.fetchDOM();
            this.fetchCustomers();
            this.fetchSalesmens();
            this.fetchWarehouses();
            this.fetchItems();
            this.fetchUoms();
            this.fetchCustomersDetail();
        },

        watch: {

            selectedDepartment: {
                handler() {
                    this.form.department = this.selectedDepartment.id;
                }
            },
            selectedCustomer: {
                handler() {
                    this.form.customer = this.selectedCustomer.id;
                }
            },
            selectedSalesman: {
                handler() {
                    this.form.salesman = this.selectedSalesman.id;
                }
            },
            selectedItem: {
                handler() {
                    const selectedItems = this.selectedItem;
                    selectedItems.map((item, i) => {
                        this.products[i].item = item.id;
                    });
                }
            },
            selectedWarehouse: {
                handler() {
                    const selectedWarehouse = this.selectedWarehouse;

                    selectedWarehouse.map((warehouse, i) => {
                        this.products[i].warehouse = warehouse.id;
                    });
                }
            }
        },
        methods: {
            formatPrice(value) {
                let val = (value / 1).toFixed(0).replace(",", ".");
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            isNumber: function(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();;
                } else {
                    return true;
                }
            },
            async fetchDOM() {
                try {
                    this.fetchLoading = true
                    const response = await axios.get(
                      `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${this.id}`
                      );
                    const result = await response.data;

                    this.form.title = result.title;
                    this.form.description = result.description;
                    this.form.address = result.address;
                    this.form.date = result.date;
                    this.form.department = result.department_id;
                    this.form.customer = result.customer_id;
                    this.form.salesman = result.salesman_id;

                    this.form.sales_order = result.code_number;
                    this.form.sales_order_id = result.sales_order_id;


                    this.selectedCustomer = {
                        id: result.customer_id,
                        name: result.customer.company_name + " - " + result.customer.pic_1 + " - " + result.customer.pic_phone_1 + " - " + result.customer.address
                    };
                    this.selectedSalesman = result.salesman;

                    this.selectedDepartment = result.department;

                    result.items.map((item, i) => {

                        this.selectedItem.push({
                            id: item.product.product_id,
                            name: item.product.name
                        });

                        this.selectedWarehouse.push({
                            id: item.warehouse.id,
                            name: item.warehouse.name
                        });

                        this.products.push({
                            id: item.id,
                            item: item.product.product_id,
                            uom: item.uom_id,
                            sendQty: item.stock_qty,
                            purchaseQty: item.qty,
                            description: item.description,
                            warehouse: item.warehouse_id,
                            sales_order_item_id: item.id,
                            confirmQty: item.stock_qty,
                        });

                    });
                    this.fetchLoading = false
                } catch (err) {
                    console.log(err);
                }
            },

            async fetchCustomers() {
                try {
                    const response = await axios.get(
                        `/transaction/quotation_material/customer`
                        );
                    const result = await response.data;
                    result.map(res => {
                        this.customers.push({
                            id: res.id,
                            name: res.company_name + " - " + res.pic_1 + " - " + res.pic_phone_1,
                        });
                    });
                } catch (err) {
                    console.log(err);
                }
            },

            async fetchSalesmens() {
                try {
                    const response = await axios.get(
                        `/transaction/quotation_material/salesman`
                        );
                    const result = await response.data;
                    result.map(res => {
                        this.salesmans.push({
                            id: res.id,
                            name: res.name
                        });
                    });
                } catch (err) {
                    console.log(err);
                }
            },
            async fetchWarehouses() {

                try {
                    const response = await axios.get(`/transaction/delivery_order_material/warehouse`);
                    const result = await response.data;
                    result.map(res => {
                        this.warehouses.push({
                            id: res.id,
                            name: res.code + " - " + res.pic
                        });
                    });
                } catch (err) {
                    console.log(err);
                }
            },
            async fetchItems() {

                try {
                    const response = await axios.get(`/procurement/purchase_requisition/product`);
                    const result = await response.data;
                    result.map(res => {
                        this.items.push({
                            id: res.id,
                            name: res.name
                        });
                    });
                } catch (err) {
                    console.log(err);
                }
            },

            async fetchUoms() {
                const response = await axios.get(`/procurement/purchase_requisition/uom`);
                const result = await response.data;
                this.uoms = result;
            },
            async fetchCustomersDetail(){
             try {
                this.customerDetail= "";

                const responses = await axios.get(
                    `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${this.id}`
                    );
                const results = await responses.data;

                const response = await axios.get(`/transaction/quotation_material/customer-detail/${results.customer_id}`);
                const result = await response.data;

                this.customerDetail = result
            } catch (err) {
                console.log(err);
            }
        },
        async removeItem(itemId) {
            const response = await axios.post(
                `/api/transaction/delivery_order_material/removeItem/${itemId}`
                );
            const result = await response.data;
        },
        deleteItem(i, itemId) {
            this.$swal({
                title: "Are you sure?",
                text: "You can't revert your action",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes Delete it!",
                cancelButtonText: "No, Keep it!",
                showCloseButton: true,
                showLoaderOnConfirm: true
            }).then(result => {
                if (result.value) {
                    console.log(itemId)
                    if (typeof itemId !== "undefined") {
                        this.removeItem(itemId);
                    }
                    this.products.splice(i, 1);
                    this.$swal(
                        "Deleted",
                        "You successfully deleted this data",
                        "success"
                        );
                } else {
                    this.$swal("Cancelled", "Your file is still intact", "info");
                }
            });
        },
        async handleSubmit() {
            this.loading = true;

            try {

                let data = {};
                data["title"] = this.form.title;
                data["date"] = this.form.date;
                data["description"] = this.form.description;
                data["products"] = this.products;
                    // console.log(data)

                    const response = await axios.post(
                       "/stock/stock-checking",
                       data
                       );
                    const result = await response;
                    if (result['data']['success'] === false) {
                        alert('Confirm Qty cant be greater than Purchased Qty')
                        this.loading = false;
                    } else {
                        console.log(result);
                        window.location.href = "/stock/stock-checking/index";
                    }
                } catch (err) {
                    this.loading = false;
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                }
            }
        }

    };
</script>
