<template>
<div>
    <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
    <form @submit.prevent="handleSubmit">
        <div class="row">
            <div class="col-md-6">
                 <div class="form-group">
                    <label>Origin Warehouse</label>
                    <v-select v-model="selectedOrigin" :options="origins" label="name" :class="{ 'is-invalid': validationErrors.origin_id }" @input="showProduct($event)" disabled/>
                    <label class="text-danger" v-if="validationErrors.origin_id">{{ validationErrors.origin_id[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Destination Warehouse</label>
                    <v-select v-model="selectedDestination" :options="destinations" label="name" :class="{ 'is-invalid': validationErrors.destination_id }" disabled/>
                    <label class="text-danger" v-if="validationErrors.destination_id">{{ validationErrors.destination_id[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <label>Date</label>
                    <input type="text" @click="show_start = true" v-model="form.date" class="form-control" placeholder="yyyy-mm-dd" :class="{ 'is-invalid': validationErrors.date }">
                    <label class="text-danger" v-if="validationErrors.date">{{ validationErrors.date[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea v-model="form.description" cols="40" style="height:100px" class="form-control" :class="{ 'is-invalid': validationErrors.description }"></textarea>
                    <label class="text-danger" v-if="validationErrors.description">{{ validationErrors.currency_id[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hovered" style="font-size:9px">
                        <thead>
                            <tr>
                                <th align="center">#</th>
                                <th align="center" style="width:20%;font-size:16px;">
                                    Item
                                    <sup style="color:red;">*</sup>
                                </th>
                                <th align="center"  style="width:10%;font-size:16px;">
                                    UoM
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="width:10%;font-size:16px;">
                                    In Hand
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="font-size:16px;">
                                    Qty
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product, index) in this.products" :key="index">
                                <td style="font-size: 16px;">{{ index + 1}}</td>
                                <td style="font-size: 16px">
                                    <v-select v-model="selectedItem[index]" @input="fetchItemDetails($event, index)" :options="items" label="name" required disabled/><br>
                                    <input type="text" v-model="product.description" style="font-size:16px" class="form-control m-input" required />
                                </td>
                                <td width="10%" style="width:15%">
                                    <select  v-model="product.uom" class="form-control" style="font-size:16px" required>
                                        <option v-for="(item, i) in uoms" :value="item.id" :key="i">{{ item.name }}</option>
                                    </select>
                                </td>
                                <td width="8%" style="width:15%">
                                    <input @keypress="isNumber($event)" v-model="product.qty" value="0" style="font-size:16px; text-align:right" class="form-control m-input" required disabled/>
                                </td>
                                <td width="8%" style="width:15%">
                                    <input @keypress="isNumber($event)" v-model="product.quantity" value="0" style="font-size:16px; text-align:right" class="form-control m-input" required />
                                </td>
                                <td>
                                    <button @click.prevent="deleteItem(index)" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--right">
                <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Update' }}</button>
            </div>
        </div>
        <date-picker @close="show_start = false" v-if="show_start" v-model="form.date"></date-picker>
    </form>
</div>
</template>

<script>
import axios from "axios";
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import Input from "../../../../../../../resources/js/components/commons/input";

import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";
import DatePicker from "vue-md-date-picker";

export default {
    props: ["id"],
    components: {
        vSelect,
        ValidationErrors,
        Input,
        DatePicker
    },
    data() {
        return {
            products: [],
            form: {
                code_number: "",
                date:null,
                description:null,
            },
            items: [],
            errors: [],
            loading: false,
            selectedItem: [],
            validationErrors: "",

            selectedOrigin: null,
            selectedDestination: null,
            selectedProduct: null,

            origins: [],
            destinations: [],
            uoms:[],
            products:[],

            show_start: false,
        };
    },
    mounted() {

        this.fetchWarehouse();
        this.fetchUoms();
        this.getDetailTransfer()
    },
    computed: {
        groupBy(){
            return groupBy(this.products,'product_id','warehouse_id','product.name')
        }
    },
    watch: {
        // item for product
        selectedItem: {
            handler() {
                const selectedItems = this.selectedItem;
                selectedItems.map((item, i) => {
                    this.products[i].item = item.id;
                });
            }
        },
        selectedOrigin: {
            handler() {
                this.form.origin_id = this.selectedOrigin.id;
            }
        },
        selectedDestination: {
            handler() {
                this.form.destination_id = this.selectedDestination.id;
            }
        },
    },
    methods: {
        async showProduct() {
            try {
                this.selectedItem = []
                if (this.selectedOrigin == null) {
                    this.selectedItem = []
                } else {
                    this.products = []
                    const response = await axios.get(
                        `/api/stock/get-stock/${this.selectedOrigin.id}`
                    );
                    const result = await response.data;

                    this.items = [];

                    result.map((item, i) => {

                        this.items.push({
                            id:item.product.id,
                            name:item.product.name
                        })
                            this.selectedItem.push({
                                id: item.product.id,
                                name: item.product.name
                            });

                            this.products.push({
                                item: item.product.name,
                                qty: item.qty,
                                uom: item.product.uom_id,
                                remark: '',
                                description: item.product.description,
                                price: "",
                                discountRate: "",
                                discountAmount: "",
                                subTotal: "",


                            });

                            
                        
                    });
                }
            } catch (err) {
                console.log(err);
            }
        },
         async getDetailTransfer() {
            try {
                    this.selectedItem = []
               
                    this.products = []
                    const response = await axios.get(
                        `/api/stock/get-stock-detail/${this.id}`
                    );
                    const result = await response.data;
                    this.items = [];

                    this.form.date = result[0].date
                    this.form.description = result[0].description

                    this.selectedOrigin = result[0].origin
                    this.selectedDestination = result[0].destination
                    // console.log(result[0].items)
                    result[0].items.map((item, i) => {

                        this.items.push({
                            id:item.product.id,
                            name:item.product.name
                        })
                            this.selectedItem.push({
                                id: item.product.id,
                                name: item.product.name
                            });

                            this.products.push({
                                item: item.product.name,
                                id: item.id,
                                product_id: item.product_id,
                                qty: item.in_hand,
                                uom: item.product.uom_id,
                                remark: '',
                                description: item.product.description,
                                price: "",
                                quantity: item.qty,
                                discountRate: "",
                                discountAmount: "",
                                subTotal: "",
                                stock_transfer_id: item.stock_transfer_id,

                            });
                    });
               
            } catch (err) {
                console.log(err);
            }
        },
        formatPrice(value) {
            let val = (value / 1).toFixed(0).replace(",", ".");
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        async fetchWarehouse() {
            try {
                const response = await axios.get(
                    ` /api/warehouse`
                );
                const result = await response.data;

                result.map(res => {
                    this.origins.push({
                        id: res.id,
                        title: res.code + ' - ' + res.name
                    });

                    this.destinations.push({
                        id: res.id,
                        title: res.code + ' - ' + res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
       
        async fetchUoms() {
            const response = await axios.get(`/procurement/purchase_requisition/uom`);
            const result = await response.data;

            this.uoms = result;
        },
        deleteItem(i) {
            this.products.splice(i, 1);
        },
        async handleSubmit() {
            this.loading = true;

            try {
               
                let data = {};
                data["_method"] = "PUT";
                data["date"] = this.form.date;
                data["products"] = this.products;
                data["description"] = this.form.description;
                data["origin_id"] = this.form.origin_id;
                data["destination_id"] = this.form.destination_id;

                const response = await axios.post(
                    `/stock/stock-transfer/${this.id}`,
                    data
                );
                const results = await response;
                    if (results['data']['success'] === false) {
                        alert('Qty cant be greater than In Hand Qty')
                        this.loading = false;
                    } else {
                        window.location.href = "/stock/stock-transfer";
                    } 
                    console.log(results)
                    console.log(data)  
            } catch (err) {
                this.loading = false;
                console.log(err)
                if (err.response.status === 422) {
                    console.log(err.response.status);
                    this.validationErrors = err.response.data.errors;
                    console.log(this.validationErrors)
                } else {
                    alert(
                        "Please check the input"
                    );
                }
            }
        }
    }

};
</script>
