<template>
<div>
    <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="">Month</label>
            <v-select v-model="selectedMonth" :options="month" label="name" required /><br>
        </div>
        <div class="form-group col-md-4">
            <label>Year</label>
            <v-select v-model="selectedYear" :options="years" label="name" required /><br>

        </div>
        <div class="form-group col-md-4">

        </div>
    </div>
    <button @click.prevent="fetchCalendar()" class="btn btn-primary">Search</button>
    <form @submit.prevent="handleSubmit">
        <div class="table-responsive">
            <button type="submit" class="btn btn-success fa-pull-right">Save</button>
            <br><br><br>
            <table class="table table-bordered table-hover table-striped" cellspacing="0" id="datatable">
                <tr style="background-color:white ; color: grey" align="center">
                    <th>#</th>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Shift 1</th>
                    <th>Shift 2</th>
                </tr>
                <tr v-for="(c, index) in this.dataCalendar" :key="index">
                    <td>{{ index + 1}}</td>
                    <td>{{ c.date }}</td>
                    <td>{{ c.day }}</td>
                    <td>
                        <v-select v-model="selectedEmployeeShift1[index]" :options="employees" label="name" required multiple /><br>
                    </td>
                    <td>
                        <v-select v-model="selectedEmployeeShift2[index]" :options="employees" label="name" required multiple /><br>
                    </td>
                </tr>
            </table>

        </div>
    </form>

</div>
</template>

<script>
import axios from "axios";
import ValidationErrors from "../../../../../../resources/js/components/commons/validation-errors";
import Swal from "sweetalert2";
import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";
export default {
    components: {
        vSelect,
        ValidationErrors,

    },
    data() {
        return {
            errors: "",
            loading: false,
            show_start: false,
            save_loading: false,
            selectedMonth: null,
            validationErrors: "",
            selectedYear: null,
            month: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            years: [],
            dataCalendar: [],
            employees: [],
            selectedEmployeeShift1: [],
            selectedEmployeeShift2: [],
        };
    },
    mounted() {
        this.fetchYear();
        this.fetchEmployee();
    },
    watch: {
        selectedEmployeeShift1: {
            handler() {
                const selectedEmployeeShifts1 = this.selectedEmployeeShift1;
                selectedEmployeeShifts1.map((item, i) => {
                    // remove duplicate before entry
                    this.dataCalendar[i].shift1 = [];

                    item.map((empl, j) => {
                        this.dataCalendar[i].shift1.push({
                            id: empl.id
                        });
                    });
                });
            }
        },
        selectedEmployeeShift2: {
            handler() {
                const selectedEmployeeShifts2 = this.selectedEmployeeShift2;
                selectedEmployeeShifts2.map((item, i) => {
                    // remove duplicate before entry
                    this.dataCalendar[i].shift2 = [];

                    item.map((empl, j) => {
                        this.dataCalendar[i].shift2.push({
                            id: empl.id
                        });
                    });
                });
            }
        },
    },
    methods: {
        async fetchYear() {
            try {
                const response = await axios.get(
                    `/api/setting/year`
                );
                const result = await response.data;
                result.map(res => {
                    this.years.push({
                        name: res
                    });
                });

            } catch (err) {
                console.log(err);
            }
        },
        async fetchEmployee() {
            try {
                const response = await axios.get(
                    `/hr/setting/shift_setting/get-status-employee`
                );
                const result = await response.data;
                result.map(res => {
                    this.employees.push({
                        id: res.id,
                        name: res.name
                    });
                });

            } catch (err) {
                console.log(err);
            }
        },
        async fetchCalendar() {
            this.dataCalendar = [];
            const response = await axios.get(
                ` /hr/setting/shift_setting/get-calendar/${this.selectedYear.name}/${this.selectedMonth}`
            );
            const result = await response.data;
            result.map(item => {

                this.dataCalendar.push({
                    id: item.id,
                    date: item.date,
                    day: item.days_of_week,
                    shift1: [],
                    shift2: [],
                });

            });

        },

        async handleSubmit() {
            this.loading = true;

            try {
                let data = {};
                data["setting_shift"] = this.dataCalendar;
                if (this.dataCalendar) {
                    const response = await axios.post(
                        "/hr/setting/shift_setting",
                        data
                    );
                    if(response.data.success == true){
                        window.location.href = response.data.redirect
                    }else{
                        window.location.href = response.data.redirect
                    }
                    // window.location.href = "/hr/setting/shift_setting";
                } else {
                    alert(
                        "Please check the input"
                    );
                }
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    console.log(err.response.status);
                    this.validationErrors = err.response.data.errors;
                } else {
                    alert(
                        "Please check the input"
                    );
                }
            }
        }

    }
};
</script>
