<template>
<div>
    <div v-if="fetchLoading" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div v-else>
        <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
        <form @submit.prevent="handleSubmit">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sales Order </label>
                        <v-select v-model="selectedSalesOrderMaterial" @input="fetchSalesOrderMaterialDetail($event); fetchCustomersDetail($event)" :options="salesOrderMaterials" label="name" :class="{ 'is-invalid': validationErrors.sales_order_id }" />
                        <label class="text-danger" v-if="validationErrors.sales_order_id">{{
                                validationErrors.sales_order_id[0] }}</label>
                    </div>
                </div>
            </div>
            <div v-show="showForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Customer</label>
                            <v-select v-model="selectedCustomer" :options="customers" label="name" :class="{ 'is-invalid': validationErrors.customer_id }" disabled />
                            <div class="text-danger" v-if="validationErrors.customer_id">{{
                                    validationErrors.customer_id[0] }}
                            </div>


                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Salesman</label>
                            <v-select v-model="selectedSalesman" :options="salesmans" label="name" :class="{ 'is-invalid': validationErrors.salesman_id }" />
                            <div class="text-danger" v-if="validationErrors.salesman_id">{{
                                    validationErrors.salesman_id[0] }}
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Department</label>
                                <v-select v-model="selectedDepartment" :options="departments" label="name"
                                          :class="{ 'is-invalid': validationErrors.department_id }" disabled/>
                                <div class="text-danger" v-if="validationErrors.department_id">{{
                                    validationErrors.department_id[0] }}
                                </div>
                            </div>
                        </div> -->
                </div>

                <h4>Customer Detail</h4>
                <div class="row">
                    <div class="col-md-4">

                        <label>Company Name</label>
                        <input type="text" name="company_name" class="form-control" v-model="this.customerDetail.company_name" disabled>
                        <br>
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" v-model="this.customerDetail.email" disabled>
                        <br>
                        <label>Contact Person </label>
                        <input type="text" name="pic_1" class="form-control" v-model="this.customerDetail.pic_1" disabled>
                        <br>

                    </div>
                    <div class="col-md-4">

                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" v-model="this.customerDetail.phone" disabled>
                        <br>
                        <label>Fax Number</label>
                        <input type="text" name="fax" class="form-control" v-model="this.customerDetail.fax" disabled>
                        <br>
                        <label>Address</label>
                        <textarea class="form-control" v-model="this.customerDetail.address" disabled></textarea>
                        <br>

                    </div>
                    <div class="col-md-4">


                        <label>Credit Limit</label>
                        <money type="text" name="credit_limit" class="form-control" v-model="this.customerDetail.credit_limit" style="text-align:right;" disabled>
                        </money>
                        <br>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="text" @click="show_start = true" v-model="form.date" class="form-control" placeholder="yyyy-mm-dd" :class="{ 'is-invalid': validationErrors.date }">
                            <label class="text-danger" v-if="validationErrors.date">{{ validationErrors.date[0]
                                    }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea v-model="form.address" cols="40" style="height:100px" class="form-control" :class="{ 'is-invalid': validationErrors.address }"></textarea>
                            <label class="text-danger" v-if="validationErrors.address">{{
                                    validationErrors.address[0] }}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Remark</label>
                            <textarea v-model="form.description" cols="40" style="height:100px" class="form-control" :class="{ 'is-invalid': validationErrors.description }"></textarea>
                            <label class="text-danger" v-if="validationErrors.description">{{
                                    validationErrors.description[0] }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hovered" style="font-size:9px">
                                <thead>
                                    <tr>
                                        <th align="center" style="font-size:16px;">#</th>
                                        <th align="center" style="font-size:16px;"></th>
                                        <th align="center" style="width:30%;font-size:16px;">
                                            Item
                                            <sup style="color:red">*</sup>
                                        </th>
                                        <th align="center" width="10%" style="font-size:16px;">
                                            UoM
                                            <sup style="color:red">*</sup>
                                        </th>
                                        <th align="center" style="font-size:16px;">
                                            Purchased Qty
                                            <sup style="color:red">*</sup>
                                        </th>
                                        <th align="center" style="font-size:16px;">
                                            Send Qty
                                            <sup style="color:red">*</sup>
                                        </th>
                                        <th align="center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(product, index) in this.products" :key="index">
                                        <td width="3%">{{ index + 1}}</td>
                                        <td style="font-size:16px;">
                                            <i class="fa fa-info-circle" @click.prevent="showPriceHistory($event, product, index)" :product-id="product.item" v-if="selectedItem[index]" :id="selectedItem[index]"></i>
                                        </td>
                                        <td>
                                            <v-select v-model="selectedItem[index]" @input="fetchItemDetails($event, index)" :options="items" label="name" disabled required style="font-size:16px;" />
                                            <br>
                                            <input type="text" placeholder="Product description" v-model="product.description" style="font-size:16px" class="form-control m-input" required />
                                        </td>
                                        <td>
                                            <input v-model="product.uom" min="0" style="font-size:16px;" class="form-control m-input" disabled /><br>

                                        </td>
                                        <td width="10%">
                                            <input @keypress="isNumber($event)" v-model="product.purchaseQty" value="0" style="font-size:16px; text-align:right" disabled class="form-control m-input" required />
                                        </td>
                                        <td width="10%">
                                            <input @keypress="isNumber($event)" v-model="product.sendQty" value="0" type="number" min="0" style="font-size:16px; text-align:right" class="form-control m-input" required /><br>
                                        </td>
                                        <td width="10%">
                                            <button @click.prevent="deleteItem(index)" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--right">
                        <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Save' }}</button>
                    </div>
                </div>
            </div>
            <date-picker @close="show_start = false" v-if="show_start" v-model="form.date"></date-picker>
            <price-history :id="this.product_id" :billing="this.billing" :pr_history="this.pr_history" />
        </form>
    </div>
</div>
</template>

<script>
import axios from "axios";
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import Input from "../../../../../../../resources/js/components/commons/input";
import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";
import DatePicker from "vue-md-date-picker";

export default {
    props: ['so', 'so-id'],
    components: {
        vSelect,
        ValidationErrors,
        Input,
        DatePicker
    },
    data() {
        return {
            products: [],
            form: {
                paymentTerm: "",
                address: "",
                description: "",
                date: new Date().toISOString().substr(0, 10),
            },
            salesmans: [],
            customers: [],
            warehouses: [],
            departments: [],
            salesOrderMaterials: [],
            items: [],
            uoms: [],
            errors: [],
            loading: false,
            selectedSalesman: null,
            selectedCustomer: null,
            selectedDepartment: null,
            selectedSalesOrderMaterial: null,
            selectedItem: [],
            selectedWarehouse: [],
            validationErrors: "",
            show_start: false,
            fetchLoading: false,
            showForm: this.soId ? true : false,
            customerDetail: "",
            show_customer_detail: false,
            product_id: null,
            billing: [],
            pr_history: [],
        };
    },
    mounted() {
        this.fetchDepartments();
        this.fetchSalesmens();
        this.fetchCustomers();
        this.fetchSalesOrderMaterial();
        this.fetchSalesOrderMaterialDetailSO();
        this.fetchItems();
        this.fetchWarehouses();
        this.fetchUoms();
    },
    computed: {},
    watch: {
        selectedDepartment: {
            handler() {
                this.form.department = this.selectedDepartment.id;
            }
        },
        selectedSalesman: {
            handler() {
                this.form.salesman = this.selectedSalesman.id;
            }
        },
        selectedCustomer: {
            handler() {
                this.form.customer = this.selectedCustomer.id;
            }
        },
        selectedQuotationMaterial: {
            handler() {
                this.form.quotationMaterial = this.selectedQuotationMaterial.id;
            }
        },
        selectedItem: {
            handler() {
                const selectedItems = this.selectedItem;

                selectedItems.map((item, i) => {
                    this.products[i].item = item.id;
                });
            }
        },
        selectedWarehouse: {
            handler() {
                const selectedWarehouses = this.selectedWarehouse;

                selectedWarehouses.map((warehouse, i) => {
                    this.products[i].warehouse = warehouse.id;
                });
            }
        }
    },
    methods: {
        formatPrice(value) {
            let val = (value / 1).toFixed(0).replace(",", ".");
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();;
            } else {
                return true;
            }
        },
        callFromChildCustomer() {
            this.$root.$on('refetch_the_customer_from_qm', () => {
                this.rerenderCustomers()
            })
        },
        showCustomer(e) {
            console.log(e)
            this.$modal.show('customer-modal')
        },
        async showPriceHistory(e, data, index) {
            this.product_id = data.item
            const response = await axios.get(
                `/api/transaction/product/billing-history/${data.item}`
            );
            const result = await response.data;

            this.billing = result
            const procurementHistory = await axios.get(
                `/api/transaction/product/procurement-history/${data.item}`
            );
            const ph = await procurementHistory.data;

            this.pr_history = ph
            this.$modal.show('price-history-modal')
        },
        async fetchDepartments() {
            try {
                const response = await axios.get(
                    `/procurement/purchase_requisition/department`
                );
                const result = await response.data;
                result.map(res => {
                    this.departments.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCustomers() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/customer`
                );
                const result = await response.data;
                result.map(res => {
                    this.customers.push({
                        id: res.id,
                        name: res.company_name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCustomersDetail(e) {
            try {
                this.customerDetail = "";

                const responses = await axios.get(
                    `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${e.id}`
                );
                const results = await responses.data;

                const response = await axios.get(`/transaction/quotation_material/customer-detail/${results.customer_id}`);
                const result = await response.data;

                this.customerDetail = result
            } catch (err) {
                console.log(err);
            }
        },
        async rerenderCustomers() {
            try {
                const response = await axios.get(`/transaction/quotation_material/product_price/${this.selectedCustomer.priceCategory}`);
                const result = await response.data;
                result.map(res => {
                    this.customers.push({
                        id: res.id,
                        name: res.company_name,
                        priceCategory: res.price_category_id
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        childMessageReceivedCustomer(value) {
            this.customers = []
            this.fetchCustomers()
        },
        async fetchSalesmens() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/salesman`
                );
                const result = await response.data;
                result.map(res => {
                    this.salesmans.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchSalesOrderMaterial() {
            try {
                this.fetchLoading = true
                const response = await axios.get(
                    `/transaction/delivery_order_material/sales_order_material`
                );
                const result = await response.data;
                result.map(res => {
                    this.salesOrderMaterials.push({
                        id: res.id,
                        name: res.code_number
                    });
                });
                this.fetchLoading = false
            } catch (err) {
                console.log(err);
            }
        },
        async fetchSalesOrderMaterialDetail(event) {
            try {
                this.products = [];
                this.selectedItem = [];

                this.form.department = "";
                this.form.customer = "";
                this.customerDetail = "";

                const so_id = event.id;

                const response = await axios.get(
                    `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${so_id}`
                );
                const result = await response.data;
                result.items.map((item, i) => {
                    if (item.stock_qty > 0) {
                        this.selectedItem.push({
                            id: item.product.id,
                            name: item.product.name
                        });
                        this.products.push({
                            sales_order_id: item.sales_order_id,
                            sales_order_item_id: item.id,
                            purchaseQty: item.stock_qty,
                            uom: item.uom.name,
                            sendQty: "",
                            description: item.description,
                            warehouse_id: item.warehouse_id,
                        });
                    }
                });
                this.form.title = result.title;
                this.form.description = result.description;
                this.form.address = result.customer.address;
                this.customer = result.customer.company_name;
                this.department = result.department.name;
                this.salesman = result.salesman.name;
                this.form.salesOrderMaterial = result.id;

                this.selectedDepartment = {
                    id: result.department_id,
                    name: result.department.name
                }

                this.selectedCustomer = {
                    id: result.customer_id,
                    name: result.customer.company_name
                }
                this.selectedSalesman = {
                    id: result.salesman_id,
                    name: result.salesman.name
                }
                this.showForm = true

                const responses = await axios.get(
                    `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${event.id}`
                );
                const results = await responses.data;

                const customer = await axios.get(`/transaction/quotation_material/customer-detail/${results.customer_id}`);
                const resultCustomer = await customer.data;

                this.customerDetail = resultCustomer
            } catch (err) {
                console.log(err);
            }
        },
        async fetchSalesOrderMaterialDetailSO() {
            try {
                this.products = [];
                this.selectedItem = [];

                this.form.department = "";
                this.form.customer = "";
                this.customerDetail = "";

                const so_id = this.soId;
                if (so_id) {


                    const response = await axios.get(
                        `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${so_id}`
                    );
                    const result = await response.data;
                    result.items.map((item, i) => {
                        if (item.stock_qty > 0) {
                            this.selectedItem.push({
                                id: item.product.id,
                                name: item.product.name
                            });
                            this.products.push({
                                sales_order_id: item.sales_order_id,
                                sales_order_item_id: item.id,
                                purchaseQty: item.stock_qty,
                                uom: item.uom.name,
                                sendQty: "",
                                description: item.description,
                                warehouse_id: item.warehouse_id,
                            });
                        }
                    });
                    this.form.title = result.title;
                    this.form.description = result.description;
                    this.form.address = result.customer.address;
                    this.customer = result.customer.company_name;
                    this.department = result.department.name;
                    this.salesman = result.salesman.name;
                    this.form.salesOrderMaterial = result.id;

                    this.selectedDepartment = {
                        id: result.department_id,
                        name: result.department.name
                    }

                    this.selectedSalesOrderMaterial = {
                        id: result.id,
                        name: result.code_number
                    }

                    this.selectedCustomer = {
                        id: result.customer_id,
                        name: result.customer.company_name
                    }
                    this.selectedSalesman = {
                        id: result.salesman_id,
                        name: result.salesman.name
                    }
                    this.showForm = true

                    const responses = await axios.get(
                        `/transaction/delivery_order_material/sales_order_material_item?sales_order_id=${so_id}`
                    );
                    const results = await responses.data;

                    const customer = await axios.get(`/transaction/quotation_material/customer-detail/${results.customer_id}`);
                    const resultCustomer = await customer.data;

                    this.customerDetail = resultCustomer
                }
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItems() {
            try {
                const response = await axios.get(`/procurement/purchase_requisition/product`);
                const result = await response.data;
                result.map(res => {
                    this.items.push({
                        id: res.id,
                        name: res.code + " - " + res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchWarehouses() {
            try {
                const response = await axios.get(`/transaction/delivery_order_material/warehouse`);
                const result = await response.data;
                result.map(res => {
                    this.warehouses.push({
                        id: res.id,
                        name: res.code + " - " + res.pic
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItemDetails(e, i) {
            const id = e.id
            axios(`/transaction/quotation_material/product/${id}`)
                .then(response => {
                    const {
                        price
                    } = response.data
                    const {
                        description
                    } = response.data
                    this.products[i].description = description,
                        this.products[i].price = price
                })
                .catch(e => console.log(e));
        },
        async fetchUoms() {
            const response = await axios.get(`/procurement/purchase_requisition/uom`);
            const result = await response.data;
            this.uoms = result;
        },
        deleteItem(i) {
            this.products.splice(i, 1);
        },
        async handleSubmit() {
            this.loading = true;

            try {
                let data = {};
                data["title"] = this.form.title;
                data["date"] = this.form.date;
                data["sales_order_id"] = this.form.salesOrderMaterial;
                data["customer_id"] = this.form.customer;
                data["salesman_id"] = this.form.salesman;
                data["department_id"] = this.form.department;
                data["address"] = this.form.address;
                data["description"] = this.form.description;
                data["products"] = this.products;

                if (this.products == 0) {
                    alert(
                        "Product cannot be empty"
                    );
                    this.loading = false;

                } else {
                    const response = await axios.post(
                        "/transaction/delivery_order_material",
                        data
                    );
                    const result = await response;
                    if (result['data']['success'] === false) {
                        alert('Send Qty cant be greater than Purchased Qty')
                        this.loading = false;
                    } else {
                        window.location.href = "/transaction/delivery_order_material";
                    }
                }
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    console.log(err.response.status);
                    this.validationErrors = err.response.data.errors;
                } else {
                    alert(
                        "Please check the input"
                    );
                }
            }
        }
    }
};
</script>
