<template>
<modal name="example-modal" :resizable="resizable" :adaptive="adaptive" height="600" :scrollable="true">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4 style="text-align: center;">Add New Product</h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Product Category</label>
                    <v-select autocomplete v-model="selectedProductCategory" :options="product_category" label="name" :class="{ 'is-invalid': validationErrors.product_category_id }" @input="fetchProductSubCategory($event)" />
                    <div class="text-danger" v-if="validationErrors.product_category_id">{{ validationErrors.product_category_id[0] }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Product Sub Category</label>
                    <v-select autocomplete v-model="selectedProductSubCategory" :options="product_sub_category" label="name" :class="{ 'is-invalid': validationErrors.product_sub_category_id }" />
                    <div class="text-danger" v-if="validationErrors.product_sub_category_id">{{ validationErrors.product_sub_category_id[0] }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Code <sup style="color:red">*</sup></label>
                    <input type="text" v-model="form.code" class="form-control" :class="{ 'is-invalid': validationErrors.code }" required />
                    <label class="text-danger" v-if="validationErrors.code">{{ validationErrors.code[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Name <sup style="color:red">*</sup></label>
                    <input type="text" v-model="form.name" class="form-control" :class="{ 'is-invalid': validationErrors.name }" required />
                    <label class="text-danger" v-if="validationErrors.name">{{ validationErrors.name[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" v-model="form.price" class="form-control" :class="{ 'is-invalid': validationErrors.price }" required style="text-align:right" @keypress="isNumber($event)" />
                    <label class="text-danger" v-if="validationErrors.price">{{ validationErrors.price[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button @click.prevent="onClickButton" class="btn btn-info pull-right" style="margin-bottom: 20px">Save</button>
                </div>
            </div>
        </div>
    </div>
</modal>
</template>

<script>
import axios from "axios";
import vmodal from 'vue-js-modal'
Vue.use(vmodal)
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import vSelect from "vue-select";
Vue.component('v-select', {
    extends: vSelect,
    methods: {
        maybeAdjustScroll: () => false
    }
});

export default {
    components: {
        ValidationErrors,
        vSelect
    },
    data() {
        return {
            form: {
                code: "",
                name: "",
                brand: "",
                location: "",
                product_category: "",
                product_sub_category: "",
            },
            resizable: false,
            adaptive: true,
            validationErrors: "",
            product_category: [],
            product_sub_category: [],
            selectedProductCategory: null,
            selectedProductSubCategory: null,

        };
    },
    mounted() {
        this.fetchProductCategory();
    },
    watch: {
        selectedProductCategory: {
            handler() {
                if (this.selectedProductCategory) {
                    this.form.product_category = this.selectedProductCategory.id;
                } else {
                    this.form.product_category = null;
                }
            }
        },
        selectedProductSubCategory: {
            handler() {
                if (this.selectedProductSubCategory) {
                    this.form.product_sub_category = this.selectedProductSubCategory.id;
                } else {
                    this.form.product_sub_category = null;
                }
            }
        }
    },
    methods: {
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();;
            } else {
                return true;
            }
        },
        async fetchProductCategory() {
            try {
                const response = await axios.get(
                    `/api/transaction/product/product_category`
                );
                const result = await response.data;
                result.map(res => {
                    this.product_category.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (e) {

            }
        },
        async fetchProductSubCategory(event) {
            try {
                this.product_sub_category = [];

                const id = event.id
                const response = await axios.get(`/api/transaction/product/product_sub_category/${id}`)
                const result = await response.data;
                result.map(res => {
                    this.product_sub_category.push({
                        id: res.id,
                        name: res.name
                    })
                })
            } catch (e) {

            }
        },
        async onClickButton() {
            this.loading = true;
            try {

                let data = {};
                data["code"] = this.form.code;
                data["name"] = this.form.name;
                data["price"] = this.form.price;
                data["product_category_id"] = this.form.product_category;
                data["product_sub_category_id"] = this.form.product_sub_category;

                const response = await axios.post(
                    `/api/transaction/product/store`,
                    data
                );

                this.form = {
                    code: "",
                    name: "",
                    brand: "",
                    product_category: "",
                    product_sub_category: "",
                    location: "",
                }
                this.validationErrors = "";
                this.selectedProductCategory = null;
                this.selectedProductSubCategory = null;

                const result = await response;
                this.$emit('messageFromChild')
                this.$root.$emit('refetch_the_product_from_qm')
                this.$modal.hide('example-modal')
                this.$swal(
                    "Yeay!",
                    "Your entry has been added successfully",
                    "success"
                );
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    this.validationErrors = err.response.data.errors;
                }
            }
        }
    }
}
</script>
