<template>
<div>
    <ValidationErrors :errors="validationErrors" v-if="validationErrors" />
    <form @submit.prevent="handleSubmit">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Submission Date</label>
                    <input type="text" @click="show_start=true" v-model="form.submission_date" class="form-control" placeholder="yyyy-mm-dd" :class="{ 'is-invalid': validationErrors.submission_date }" />
                    <label class="text-danger" v-if="validationErrors.submission_date">{{ validationErrors.submission_date[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Required Date</label>
                    <input type="text" @click="show_end = true" v-model="form.required_date" class="form-control" :class="{ 'is-invalid': validationErrors.required_date }" placeholder="yyyy-mm-dd" />
                    <label class="text-danger">Required date must be at least 21 days after submission date.</label>
                    <label class="text-danger" v-if="validationErrors.required_date">{{ validationErrors.required_date[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Project Code</label>
                    <v-select v-model="selectedProject" :options="projects" label="name" :class="{ 'is-invalid': validationErrors.project_id }" />
                    <label class="text-danger" v-if="validationErrors.project_id">{{ validationErrors.project_id[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hovered">
                        <thead>
                            <tr>
                                <th align="center">#</th>
                                <th align="center" style="font-size:16px;"></th>
                                <th align="center">
                                    Item
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center">
                                    Remark
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center">
                                    UoM
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center">
                                    Qty
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product, index) in this.products" :key="index">
                                <td style="width: 6%">{{ index + 1}}</td>
                                <td style="font-size:16px;">
                                    <i class="fa fa-info-circle" @click.prevent="showPriceHistory($event, product, index)" :product-id="product.item" v-if="selectedItem[index]" :id="selectedItem[index]"></i>
                                </td>
                                <td style="width: 25%">
                                    <v-select v-model="selectedItem[index]" @input="fetchItemDetails($event, index)" :options="items" label="name" required>
                                        <template #search="{attributes, events}">
                                            <input class="vs__search" :required="!selectedItem[index]" v-bind="attributes" v-on="events" />
                                        </template>
                                    </v-select>
                                </td>
                                <td style="width:30%">
                                    <input type="text" v-model="product.remark" style="font-size:16px" class="form-control m-input" placeholder="Item Description" required />
                                </td>
                                <td style="width: 12%">
                                    <select v-model="product.uom" class="form-control" required>
                                        <option v-for="(item, i) in uoms" :value="item.id" :key="i">{{ item.name }}</option>
                                    </select>
                                </td>
                                <td style="width:15%">
                                    <money v-model="product.qty" style="font-size:16px; text-align:right" class="form-control m-input" required></money>
                                </td>
                                <td>
                                    <button @click.prevent="deleteItem(index)" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button @click.prevent="show($event)" class="btn btn-info pull-right btn-block">+ Add New Product</button>
                                </td>
                                <td colspan="4" align="center">
                                    <button @click.prevent="addItem" class="btn btn-success pull-right btn-block">+ Add New Row</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--right">
                <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Save' }}</button>
            </div>
        </div>
    </form>
    <Product @messageFromChild="childMessageReceived" />

    <date-picker @close="show_start = false" v-if="show_start" v-model="form.submission_date" :min="now"></date-picker>
    <date-picker @close="show_end = false" v-if="show_end" v-model="form.required_date"></date-picker>
    <price-history :id="this.product_id" :billing="this.billing" :pr_history="this.pr_history" />
</div>
</template>

<script>
import axios from "axios";
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import Input from "../../../../../../../resources/js/components/commons/input";
import DatePicker from "vue-md-date-picker";
import Product from "./Product"
import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";

export default {
    components: {
        DatePicker,
        vSelect,
        ValidationErrors,
        Input,
        Product
    },
    data() {
        return {
            products: [{
                item: "",
                qty: null,
                uom: "",
                remark: ""
            }],
            form: {
                title: "default",
                // department: "",
                // cost_center: "",
                submission_date: "",
                required_date: ""
            },
            show_start: false,
            show_end: false,
            // cost_centers: [],
            selectedProject: null,
            departments: [],
            items: [],
            projects: [],
            uoms: [],
            errors: [],
            loading: false,
            // now: moment().format("YYYY-MM-DD"),
            // selectedCostCenter: null,
            // selectedDepartment: null,
            selectedItem: [],
            selectedUom: [],
            validationErrors: "",
            resultProduct: "",
            product_id: null,
            billing: [],
            pr_history: [],
        };
    },
    mounted() {
        // this.fetchDepartments();
        // this.fetchCostCenters();
        this.fetchItems();
        this.fetchUoms();
        this.fetchProjectCode();
        this.callFromChild();
        let date = new Date();
        this.form.submission_date = moment(date).format('Y-MM-D')
    },
    computed: {
        changeDate() {
            return this.form.submission_date;
        },

    },
    watch: {
        changeDate() {
            let submitionDate = this.form.submission_date;
            this.form.required_date = moment(submitionDate)
                .add(21, "days")
                .format("Y-MM-D");
        },
        selectedProject: {
            handler() {
                if (this.selectedProject) {
                    this.form.project_id = this.selectedProject.id;
                } else {
                    this.form.project_id = null;
                }
            }
        },
        selectedItem: {
            handler() {
                const selectedItems = this.selectedItem;
                selectedItems.map((item, i) => {
                    if (item) {
                        this.products[i].item = item.id;
                    } else {
                        this.products[i].item = null;
                    }
                });
            }
        },
        // selectedUom: {
        //     handler() {
        //         const selectedUom = this.selectedUom;

        //         selectedUom.map((item, i) => {
        //             this.products[i].uom = item.id;
        //         });
        //     }
        // },
    },
    methods: {
        callFromChild() {
            this.$root.$on('refetch_the_product_from_qm', () => {
                this.rerenderItems()
            })
        },
        show(e) {
            this.$modal.show('example-modal')
        },
        async fetchItemDetails(e, i) {
            if (e) {
                const product_id = e.id
                axios(`/api/procurement/product/product-detail/${product_id}`)
                    .then(response => {
                        const uom = response.data.uom_id
                        this.products[i].uom = uom
                    })
                    .catch(e => console.log(e));
            }
        },
        // async fetchDepartments() {
        //     try {
        //         // const companyId = window.Laravel.auth.company_id;
        //         const response = await axios.get(
        //             `/procurement/purchase_requisition/department`
        //         );
        //         const result = await response.data;
        //         // console.log('jujun');
        //         result.map(res => {
        //             this.departments.push({
        //                 id: res.id,
        //                 name: res.name
        //             });
        //         });
        //     } catch (err) {
        //         console.log(err);
        //     }
        // },
        // async fetchCostCenters() {
        //     try {
        //         // const companyId = window.Laravel.auth.company_id;
        //         const response = await axios.get(
        //             `/procurement/purchase_requisition/costCenter`
        //         );
        //         const result = await response.data;
        //         // console.log('jujun');
        //         result.map(res => {
        //             this.cost_centers.push({
        //                 id: res.id,
        //                 name: res.name
        //             });
        //         });
        //     } catch (err) {
        //         console.log(err);
        //     }
        // },
        async showPriceHistory(e, data, index) {
            this.product_id = data.item
            const response = await axios.get(
                `/api/transaction/product/billing-history/${data.item}`
            );
            const result = await response.data;

            this.billing = result
            const procurementHistory = await axios.get(
                `/api/transaction/product/procurement-history/${data.item}`
            );
            const ph = await procurementHistory.data;

            this.pr_history = ph
            this.$modal.show('price-history-modal')
        },
        async selectUom(index, event) {
            const id = event.id

            const response = await axios.get(`/procurement/purchase_requisition/product-detail/${id}`);
            const result = await response.data;
            this.products[index].uom = result.uom_id
        },

        async fetchItems() {

            try {
                const response = await axios.get(`/procurement/purchase_requisition/product`);
                const result = await response.data;
                this.resultProduct = result
                result.map(res => {
                    this.items.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchUoms() {
            const response = await axios.get(`/procurement/purchase_requisition/uom`);
            const result = await response.data;

            this.uoms = result;
        },

        async rerenderItems() {
            // try {
            //     const response = await axios.get(`/transaction/quotation_material/customer`);
            //     const result = await response.data;
            //     result.map(res => {
            //         this.items.push({
            //             id: res.product_id,
            //             name: res.product.code + " - " + res.product.name,
            //             productPrice: res.id
            //         });
            //     });
            // } catch (err) {
            //     console.log(err);
            // }
        },

        childMessageReceived(value) {
            this.items = []
            this.fetchItems()
            this.selectedUom
        },

        async fetchProjectCode() {
            try {
                const response = await axios.get(`/api/purchase-order/project`)
                const result = await response.data;
                result.map(res => {
                    this.projects.push({
                        id: res.id,
                        name: res.name
                    })
                })
            } catch (e) {

            }
        },

        addItem() {
            this.products.push({
                item: "",
                qty: null,
                uom: "",
                remark: ""
            });
        },
        deleteItem(i) {
            this.products.splice(i, 1);
        },
        async handleSubmit() {
            this.loading = true;

            try {
                let data = {};
                data["title"] = this.form.title;
                data["submission_date"] = this.form.submission_date;
                data["required_date"] = this.form.required_date;
                // data["department_id"] = this.form.department;
                data["project_id"] = this.form.project_id;
                // data["cost_center_id"] = this.form.cost_center;
                data["products"] = this.products;

                const response = await axios.post(
                    "/procurement/purchase_requisition",
                    data
                );
                const result = await response;
                window.location.href = "/procurement/purchase_requisition";
            } catch (err) {
                console.log(err)

                this.loading = false;
                if (err.response.status === 422) {
                    this.validationErrors = err.response.data.errors;
                } else {
                    alert(
                        "Please check the input."
                    );
                }
            }
        }
    }

};
</script>
