<template>
<modal name="example-modal" :resizable="resizable" :adaptive="adaptive" height="auto" :scrollable="true">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Code</label>
                    <input type="text" v-model="form.code" class="form-control" :class="{ 'is-invalid': validationErrors.code }" required />
                    <label class="text-danger" v-if="validationErrors.code">{{ validationErrors.code[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" v-model="form.name" class="form-control" :class="{ 'is-invalid': validationErrors.name }" required />
                    <label class="text-danger" v-if="validationErrors.name">{{ validationErrors.name[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Price</label>
                    <money v-model="form.price" style="font-size:16px; text-align:right" class="form-control m-input" :class="{ 'is-invalid': validationErrors.price }" required></money>
                    <label class="text-danger" v-if="validationErrors.price">{{ validationErrors.price[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button @click.prevent="onClickButton" class="btn btn-info pull-right" style="margin-bottom: 20px">Save</button>
                </div>
            </div>
        </div>
    </div>
</modal>
</template>

<script>
import axios from "axios";
import vmodal from 'vue-js-modal'
Vue.use(vmodal)
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";

export default {
    components: {
        ValidationErrors,
    },
    data() {
        return {
            form: {
                code: "",
                name: "",
                brand: "",
                productCategory: "",
                location: "",
            },
            resizable: false,
            adaptive: true,
            validationErrors: ""

        };
    },
    methods: {
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();;
            } else {
                return true;
            }
        },
        async onClickButton() {
            this.loading = true;
            try {

                let data = {};
                data["code"] = this.form.code;
                data["name"] = this.form.name;
                data["price"] = this.form.price;

                const response = await axios.post(
                    `/api/transaction/product/store`,
                    data
                );

                this.form = {
                    code: "",
                    name: "",
                    brand: "",
                    productCategory: "",
                    location: "",
                }
                this.validationErrors = null

                const result = await response;

                this.$emit('messageFromChild')
                this.$root.$emit('refetch_the_product_from_qm')
                this.$modal.hide('example-modal')
                this.$swal(
                    "Yeay!",
                    "Your entry has been added successfully",
                    "success"
                );
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    this.validationErrors = err.response.data.errors;
                }
            }
        }
    }
}
</script>
