<template>
<div>
    <form @submit.prevent="handleSubmit">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" @click="show_start = true" v-model="form.date" class="form-control" placeholder="yyyy-mm-dd" :class="{ 'is-invalid': validationErrors.date }">
                    <label class="text-danger" v-if="validationErrors.date">{{ validationErrors.date[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Time</label>
                    <input type="time" v-model="form.time" class="form-control" placeholder="yyyy-mm-dd" :class="{ 'is-invalid': validationErrors.time }">
                    <label class="text-danger" v-if="validationErrors.time">{{ validationErrors.time[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Supplier <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedSupplier" :options="supplier" @input="showDetail($event)" label="name" :class="{ 'is-invalid': validationErrors.supplier_id }" />
                    <label class="text-danger" v-if="validationErrors.supplier_id">{{ validationErrors.supplier_id[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <div class="form-group">
                    <button @click.prevent="showSupplier($event)" class="btn btn-info">+ Add New Supplier</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Currency <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedCurrency" :options="currency" label="name" :class="{ 'is-invalid': validationErrors.currency_id }" />
                    <label class="text-danger" v-if="validationErrors.currency_id">{{ validationErrors.currency_id[0] }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Payment Method <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedPaymentMethod" :options="paymentMethod" label="name" :class="{ 'is-invalid': validationErrors.payment_method_id }" />
                    <label class="text-danger" v-if="validationErrors.payment_method_id">{{ validationErrors.payment_method_id[0] }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Payment Term <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedPaymentTerm" :options="paymentTerm" label="name" :class="{ 'is-invalid': validationErrors.payment_term_id }" />
                    <label class="text-danger" v-if="validationErrors.payment_term_id">{{ validationErrors.payment_term_id[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hovered" style="font-size:9px">
                        <thead>
                            <tr>
                                <th align="center">#</th>
                                <th align="center" style="width:20%;font-size:16px;">
                                    Item
                                    <sup style="color:red;">*</sup>
                                </th>
                                <th align="center" style="width:10%;font-size:16px;">
                                    UoM
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="font-size:16px;">
                                    Qty
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="width:20%;font-size:16px;">
                                    Price
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="font-size:16px;">
                                    Dsc (%) <br>
                                    Dsc Amount
                                </th>
                                <th align="center" style="font-size:16px;">
                                    Sub Total
                                    <sup style="color:red">*</sup>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product, index) in this.products" :key="index">
                                <td style="font-size:16px;">
                                    <i class="fa fa-info-circle" @click.prevent="showPriceHistory($event, product, index)" :product-id="product.item" v-if="selectedItem[index]" :id="selectedItem[index]"></i>
                                </td>
                                <td style="font-size:16px">
                                    <v-select v-model="selectedItem[index]" @input="fetchItemDetails($event, index)" :options="items" label="name" required>
                                        <template #search="{attributes, events}">
                                            <input class="vs__search" :required="!selectedItem[index]" v-bind="attributes" v-on="events" />
                                        </template>
                                    </v-select><br>
                                    <input type="text" v-model="product.description" style="font-size:16px" class="form-control m-input" placeholder="Item Description" required />

                                </td>
                                <td width="10%" style="width:15%;font-size:16px" >
                                    <!-- <select v-model="product.uom" @input="fetchUomDetails(product.uom, index)" class="form-control" style="font-size:16px" required>
                                        <option v-for="(item, i) in uoms" :value="item.id" :key="i">{{ item.name }}</option>
                                    </select> -->
                                    <v-select v-model="selectedUom[index]" @input="fetchUomDetails($event, index)" :options="uoms" label="name" required>
                                        <template #search="{attributes, events}">
                                            <input class="vs__search" :required="!selectedUom[index]" v-bind="attributes" v-on="events" />
                                        </template>
                                    </v-select>
                                </td>
                                <td width="8%" style="width:15%">
                                    <money v-model="product.qty" style="font-size:16px; text-align:right" class="form-control m-input" required></money>
                                </td>
                                <td>
                                    <money v-model="product.price" style="font-size:16px; text-align:right" class="form-control m-input" required></money>
                                </td>
                                <td width="14%">
                                    <input type="number" v-model="product.discountRate" value="0" style="font-size:16px; text-align:right" class="form-control m-input" max="100" min="0" placeholder="%" /><br>
                                    <money v-model="product.discountAmount" style="font-size:16px; text-align:right" class="form-control m-input" placeholder="IDR"></money>
                                </td>
                                <td width="13%" style="font-size:16px;" align="right">
                                    {{ product.qty && product.price ? formatPrice( (product.price * product.qty) - (product.discountAmount ? product.discountAmount : 0) - (product.discountRate ? ((product.discountRate / 100) * product.price) : 0) *  product.qty) : 0 }}
                                </td>
                                <td>
                                    <button @click.prevent="deleteItem(index)" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <button @click.prevent="addItem" class="btn btn-success pull-right btn-block">+ Add New Row</button>
                                </td>
                            </tr>
                            <tr style="font-size:16px;">
                                <td colspan="6" align="right" style="font-size:13px; font-weight:bold">Subtotal Exclude Discount All Items</td>
                                <td align="right">{{ formatPrice(getTotal) }}</td>
                            </tr>
                            <tr style="font-size:16px;">
                                <td colspan="6" align="right" style="font-size:13px; font-weight:bold">Discount All Items</td>
                                <td align="right">
                                    <money v-model="form.discountAllItem" style="font-size:16px; text-align:right" class="form-control m-input"></money>
                                </td>

                            </tr>
                            <tr style="font-size:16px;">
                                <td colspan="6" align="right" style="font-size:13px; font-weight:bold">Sub Total</td>
                                <td align="right">
                                    {{ formatPrice(subTotal) }}
                                </td>

                            </tr>
                            <tr style="font-size:16px;">
                                <td colspan="5" align="right" style="font-size:13px; font-weight:bold"></td>
                                <td align="right">

                                    <div class="form-group" style="width: 100px;">
                                        <label style="font-size:13px;font-weight:bold;margin-right:5px;" class="input-group-append">
                                            PPN
                                        </label>
                                        <div class="input-group colorpickerinput">
                                            <input type="text" disabled v-model="form.tax" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i>%</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td align="right" style="font-size:16px;">
                                    {{ formatPrice(getPpn) }}
                                </td>

                            </tr>
                            <tr style="font-size:16px; font-weight:bold">
                                <td colspan="6" align="right">Total</td>
                                <td align="right" style="color:#5b35c4">
                                    {{ formatPrice(total) }}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--right">
                <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Save' }}</button>
            </div>
        </div>
        <date-picker @close="show_start = false" v-if="show_start" v-model="form.date"></date-picker>
        <price-history :id="this.product_id" :billing="this.billing" :pr_history="this.pr_history" />
    </form>
    <Supplier @messageFromChild="childMessageReceived" />

</div>
</template>

<script>
import axios from "axios";
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import Input from "../../../../../../../resources/js/components/commons/input";

import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";
import DatePicker from "vue-md-date-picker";
import Supplier from "./Supplier"

export default {
    props: ["prId"],
    components: {
        vSelect,
        ValidationErrors,
        Input,
        DatePicker,
        Supplier
    },
    data() {
        return {
            products: [],
            form: {
                discountAllItem: 0,
                getTotal: 0,
                subTotal: 0,
                tax: "",
                payment_method_id: 3,
                payment_term_id: 3,
                // date: new Date().toISOString().substr(0, 10),
                currency_id: 1,
                supplier_id: null,
            },
            items: [],
            uoms: [],
            errors: [],
            loading: false,
            selectedItem: [],
            selectedUom: [],
            validationErrors: "",

            selectedSupplier: null,
            selectedCurrency: {
                id: 1,
                name: "Rupiah",
            },
            selectedPaymentMethod: {
                id: 3,
                name: "Cash",
            },
            selectedPaymentTerm: {
                id: 3,
                name: "IMMEDIATE",
            },

            supplier: [],
            currency: [],
            paymentMethod: [],
            paymentTerm: [],

            show_start: false,
            product_id: null,
            billing: [],
            pr_history: [],
        };
    },
    mounted() {
        this.fetchTaxs();
        this.fetchItems();
        this.fetchUoms();
        this.fetchSupplier();
        this.fetchCurrency();
        this.fetchPaymentMethod();
        this.fetchPaymentTerm();
        this.callFromChild();

        let date = new Date();
        this.form.date = moment(date).format('Y-MM-D')
    },
    computed: {
        getTotal() {
            const total = this.products.reduce(function(a, b) {
                if (b.check) {
                    return a + (b.price * b.qty) - (b.discountAmount ? b.discountAmount : 0) - (b.discountRate ? ((b.discountRate / 100) * b.price) : 0) * b.qty;
                } else {
                    return a + 0;
                }
            }, 0);
            this.form.getTotal = total ? total : 0;
            return total;
        },
        subTotal() {
            const total = this.form.getTotal - this.form.discountAllItem;
            this.form.subTotal = total ? total : 0;
            return total;
        },
        getPpn() {
            const total = ((this.form.tax / 100) * this.form.subTotal);
            this.form.ppnTotal = total ? total : 0;

            return total;
        },
        total() {
            const total = this.form.subTotal + this.form.ppnTotal;
            this.form.total = total ? total : 0;
            return total;
        }
    },
    watch: {
        // item for product
        selectedItem: {
            handler() {
                const selectedItems = this.selectedItem;
                selectedItems.map((item, i) => {
                    if (item) {
                        this.products[i].item = item.id;
                    } else {
                        this.products[i].item = null;
                    }
                });
            }
        },
        selectedUom: {
            handler() {
                const selectedUoms = this.selectedUom;
                selectedUoms.map((uoms, i) => {
                    if (uoms) {
                        this.products[i].uom = uoms.id;
                    } else {
                        this.products[i].uom = null;
                    }
                });
            }
        },
        selectedSupplier: {
            handler() {
                if (this.selectedSupplier) {
                    this.form.supplier_id = this.selectedSupplier.id;
                } else {
                    this.form.supplier_id = null;
                }
            }
        },
        selectedCurrency: {
            handler() {
                if (this.selectedCurrency) {
                    this.form.currency_id = this.selectedCurrency.id;
                } else {
                    this.form.currency_id = null;
                }
            }
        },
        selectedPaymentMethod: {
            handler() {
                if (this.selectedPaymentMethod) {
                    this.form.payment_method_id = this.selectedPaymentMethod.id;
                } else {
                    this.form.payment_method_id = null;
                }
            }
        },
        selectedPaymentTerm: {
            handler() {
                if (this.selectedPaymentTerm) {
                    this.form.payment_term_id = this.selectedPaymentTerm.id;
                } else {
                    this.form.payment_term_id = null;
                }
            }
        },
    },
    methods: {
        callFromChild() {
            this.$root.$on("refetch_the_supplier_from_po", () => {
                this.supplier = [];
                this.fetchSupplier();
            });
        },
        showSupplier(e) {
            this.$modal.show('example-modal')
        },
        childMessageReceived(value) {
            this.supplier = [];
            this.items = [];
        },
        async showPriceHistory(e, data, index) {
            this.product_id = data.item
            const response = await axios.get(
                `/api/transaction/product/billing-history/${data.item}`
            );
            const result = await response.data;

            this.billing = result
            const procurementHistory = await axios.get(
                `/api/transaction/product/procurement-history/${data.item}`
            );
            const ph = await procurementHistory.data;

            this.pr_history = ph
            this.$modal.show('price-history-modal')
        },
        formatPrice(value) {
            let val = (value / 1).toFixed(0).replace(",", ".");
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        async showDetail(event) {
            const id = event.id
            const response = await axios.get(`/api/purchase-order/supplier-detail/${id}`)
            const result = await response.data
            if (!result.currency) {
                this.selectedCurrency = {
                    id: "",
                    name: ""
                }
            } else {
                this.selectedCurrency = {
                    id: result.currency_id,
                    name: result.currency.name
                }
            }
            if (!result.payment_term) {
                this.selectedPaymentTerm = {
                    id: "",
                    name: ""
                }
            } else {
                this.selectedPaymentTerm = {
                    id: result.payment_term_id,
                    name: result.payment_term.name
                }
            }

        },
        async fetchSupplier() {
            try {

                const response = await axios.get(
                    ` /api/purchase-order/supplier`
                );
                const result = await response.data;
                result.map(res => {
                    this.supplier.push({
                        id: res.id,
                        name: res.company_name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchCurrency() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/currency`
                );
                const result = await response.data;
                result.map(res => {
                    this.currency.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchPaymentMethod() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/payment-method`
                );
                const result = await response.data;
                result.map(res => {
                    this.paymentMethod.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchPaymentTerm() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/payment-term`
                );
                const result = await response.data;
                result.map(res => {
                    this.paymentTerm.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },

        async fetchTaxs() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/tax`
                );
                const result = await response.data;
                this.form.tax_id = result.id;
                this.form.tax = parseInt(result.rate);

            } catch (err) {
                console.log(err);
            }
        },

        async fetchItems() {

            try {
                const response = await axios.get(`/procurement/purchase_requisition/product`);
                const result = await response.data;
                result.map(res => {
                    this.items.push({
                        id: res.id,
                        name: res.code + " - " + res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItemDetails(e, i) {
            if (e) {

                const product_id = e.id
                this.products[i].price = null
                this.products[i].discountRate = null
                this.products[i].discountAmount = null
                this.products[i].uom = null
                // this.selectedUom[i] =  null
                axios(`/api/procurement/product/product-detail/${product_id}`)
                    .then(response => {
                        const uom = response.data.uom_id
                        this.selectedUom[i] = {
                            id: response.data.uom_id,
                            name: response.data.uom.name
                        }
                        this.products[i].uom = uom
                        console.log(this.selectedUom)
                        if (uom) {

                            axios(`/api/procurement/product/product-price/${product_id}/${uom}`)
                                .then(response => {

                                    if (response.data) {
                                        const price = response.data.price
                                        const discountRate = response.data.discount
                                        const discountAmount = response.data.discount_amount
                                        this.products[i].price = parseInt(price, 10)
                                        this.products[i].discountRate = discountRate
                                        this.products[i].discountAmount = parseInt(discountAmount, 10)
                                    }
                                })
                                .catch(e => console.log(e));
                        }
                    })
                    .catch(e => console.log(e));
            }
        },
        async fetchUomDetails(e, i) {
            const product_id = this.products[i].item
            this.products[i].uom = null
            this.products[i].price = null
            this.products[i].discountRate = null
            this.products[i].discountAmount = null
            if (e) {
                axios(`/api/procurement/product/product-price/${product_id}/${e.id}`)
                    .then(response => {
                        if (response.data) {
                            const price = response.data.price
                            const discountRate = response.data.discount
                            const discountAmount = response.data.discount_amount
                            this.products[i].price = parseInt(price, 10)
                            this.products[i].discountRate = discountRate
                            this.products[i].discountAmount = parseInt(discountAmount, 10)
                        }
                    })
                    .catch(e => console.log(e));
            }
        },
        async fetchUoms() {
            const response = await axios.get(`/procurement/purchase_requisition/uom`);
            const result = await response.data;

            this.uoms = result;
        },
        addItem() {
            this.products.push({
                item: "",
                uom: "",
                qty: null,
                remark: "",
                description: "",
                price: null,
                discountRate: null,
                discountAmount: null,
                check: true
            });
        },
        deleteItem(i) {
            this.products.splice(i, 1);
        },
        async handleSubmit() {
            this.loading = true;

            try {
                let data = {};
                data["date"] = this.form.date;
                data["time"] = this.form.time;
                data["supplier_id"] = this.form.supplier_id;
                data["currency_id"] = this.form.currency_id;
                data["payment_term_id"] = this.form.payment_term_id;
                data["payment_method_id"] = this.form.payment_method_id;
                data["products"] = this.products;
                data["get_total"] = this.form.getTotal;
                data["discount_all_item"] = this.form.discountAllItem;
                data["sub_total"] = this.form.subTotal;
                data["tax_id"] = this.form.tax_id;
                data["total"] = this.form.total;
                data["description"] = this.form.description;

                const response = await axios.post(
                    "/procurement/purchase-order",
                    data
                );
                const result = await response;
                if(result.data.success == true){
                    window.location.href = "/procurement/purchase-order";
                }else{
                    alert(result.data.message)
                }
                
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    console.log(err.response.status);
                    this.validationErrors = err.response.data.errors;
                } else {
                    alert(
                        "Please check the input"
                    );
                }
            }
        }
    }

};
</script>
