<template>
<div>
    <form @submit.prevent="handleSubmit">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" v-model="form.date" @click="show_start=true" class="form-control" :class="{ 'is-invalid': errors.date }" placeholder="yyyy-mm-dd" />
                    <label class="text-danger" v-if="errors.date">{{ errors.date[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Time</label>
                    <input type="time" v-model="form.time" class="form-control" placeholder="yyyy-mm-dd" :class="{ 'is-invalid': validationErrors.time }">
                    <label class="text-danger" v-if="validationErrors.time">{{ validationErrors.time[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Supplier <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedSupplier" :options="suppliers" label="name" :class="{ 'is-invalid': errors.supplier_id }" />
                    <label class="text-danger" v-if="errors.supplier_id">{{ errors.supplier_id[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <div class="form-group">
                    <button @click.prevent="showSupplier($event)" class="btn btn-info">+ Add New Supplier</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Currency <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedCurrency" :options="currency" label="name" :class="{ 'is-invalid': validationErrors.currency_id }" />
                    <label class="text-danger" v-if="validationErrors.currency_id">{{ validationErrors.currency_id[0] }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Payment Method <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedPaymentMethod" :options="paymentMethod" label="name" :class="{ 'is-invalid': validationErrors.payment_method_id }" />
                    <label class="text-danger" v-if="validationErrors.payment_method_id">{{ validationErrors.payment_method_id[0] }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Payment Term <sup style="color:red">*</sup></label>
                    <v-select v-model="selectedPaymentTerm" :options="paymentTerm" label="name" :class="{ 'is-invalid': validationErrors.payment_term_id }" />
                    <label class="text-danger" v-if="validationErrors.payment_term_id">{{ validationErrors.payment_term_id[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hovered">
                        <thead>
                            <tr style="font-size:16px;">
                                <th align="center">#</th>
                                <th align="center" style="font-size:16px;"></th>
                                <th align="center" style="width:20%">
                                    Item
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="width:12%">
                                    UoM
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center">
                                    Qty
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center" style="width:12%">
                                    Price
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center">
                                    Dsc (%) <br>
                                    Dsc Amount
                                </th>
                                <th align="center">
                                    Sub Total
                                    <sup style="color:red">*</sup>
                                </th>
                                <th align="center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product, index) in this.products" :key="index">
                                <td>{{ index + 1}}</td>
                                <td style="font-size:16px;">
                                    <i class="fa fa-info-circle" @click.prevent="showPriceHistory($event, product, index)" :product-id="product.item" v-if="selectedItem[index]" :id="selectedItem[index]"></i>
                                </td>
                                <td>
                                    <v-select v-model="selectedItem[index]" @input="fetchItemDetails($event, index)" :options="items" label="name" required>
                                        <template #search="{attributes, events}">
                                            <input class="vs__search" :required="!selectedItem[index]" v-bind="attributes" v-on="events" />
                                        </template>
                                    </v-select><br>
                                    <input type="text" v-model="product.description" placeholder="Item Description" style="font-size:16px" class="form-control m-input" required />
                                </td>
                                <td width="10%">
                                    <!-- <select v-model="product.uom" @input="fetchUomDetails(product.uom, index)" class="form-control" style="font-size:16px" required>
                                        <option v-for="(item, i) in uoms" :value="item.id" :key="i">{{ item.name }}</option>
                                    </select> -->
                                    <v-select v-model="selectedUom[index]" @input="fetchUomDetails($event, index)" :options="uoms" label="name" required>
                                        <template #search="{attributes, events}">
                                            <input class="vs__search" :required="!selectedUom[index]" v-bind="attributes" v-on="events" />
                                        </template>
                                    </v-select>
                                </td>
                                <td width="13%">
                                    <money v-model="product.qty" style="font-size:16px; text-align:right" class="form-control m-input" required></money>
                                </td>
                                <td>
                                    <money v-model="product.price" style="font-size:16px; text-align:right" class="form-control m-input" required></money>
                                </td>
                                <td width="14%">
                                    <input type="number" v-model="product.discountRate" value="0" style="font-size:16px; text-align:right" class="form-control m-input" max="100" min="0" /><br>
                                    <money v-model="product.discountAmount" style="font-size:16px; text-align:right" class="form-control m-input"></money>
                                </td>
                                <td width="13%" align="right">
                                    {{ product.qty && product.price ? formatPrice( (product.price * product.qty) - (product.discountAmount ? product.discountAmount : 0) - (product.discountRate ? ((product.discountRate / 100) * product.price) : 0) *  product.qty) : 0 }}
                                </td>
                                <td>
                                    <button @click.prevent="deleteItem(index, product.id)" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr v-if="!form.purchase_requisition_id">
                                <td colspan="8">
                                    <button @click.prevent="addItem" class="btn btn-success pull-right btn-block">+ Add New Row</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" align="right" style="font-size:16px; font-weight:bold">Subtotal Exclude Discount All Items</td>
                                <td align="right">{{ formatPrice(getTotal) }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="6" align="right" style="font-size:16px; font-weight:bold">Discount All Items</td>
                                <td align="right">
                                    <money v-model="form.discountAllItem" style="font-size:16px; text-align:right" class="form-control m-input" required></money>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="6" align="right" style="font-size:16px; font-weight:bold">Sub Total</td>
                                <td align="right">
                                    {{ formatPrice(subTotal) }}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="5" align="right" style="font-size:13px; font-weight:bold"></td>
                                <td align="right">
                                    <div class="form-group" style="width: 100px;">
                                        <label style="font-size:13px;font-weight:bold;margin-right:5px;" class="input-group-append">
                                            GST
                                        </label>

                                        <div class="input-group colorpickerinput">
                                            <input type="text" disabled v-model="form.tax" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i>%</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td align="right">
                                    {{ formatPrice(getGst) }}
                                </td>
                                <td></td>
                            </tr>
                            <tr style="font-size:16px; font-weight:bold">
                                <td colspan="6" align="right">Total</td>
                                <td align="right" style="color:#5b35c4">
                                    {{ formatPrice(total) }}
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--right">
                <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">{{ this.loading ? 'Please Wait...' : 'Update' }}</button>
            </div>
        </div>
    </form>
    <Supplier @messageFromChild="childMessageReceived" />
    <date-picker @close="show_start = false" v-if="show_start" v-model="form.submition_date"></date-picker>
    <date-picker @close="show_end = false" v-if="show_end" v-model="form.required_date"></date-picker>
    <price-history :id="this.product_id" :billing="this.billing" :pr_history="this.pr_history" />
</div>
</template>

<script>
import axios from "axios";
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";
import DatePicker from "vue-md-date-picker";

import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";
import Supplier from "./Supplier"

export default {
    props: ["id", "resubmit"],
    components: {
        DatePicker,
        vSelect,
        ValidationErrors,
        Supplier
    },
    data() {
        return {
            products: [],
            form: {
                title: "",
                supplier_id: null,
                currency_id: null,
                discountAllItem: null,
                getTotal: null,
                tax: "",
                time: null,
                gstTotal: null,
                subTotal: null,
                resubmit: null,
                project_id: null,
            },
            show_start: false,
            show_end: false,
            cost_centers: [],
            suppliers: [],
            currency: [],
            paymentMethod: [],
            paymentTerm: [],
            departments: [],
            projects: [],
            items: [],
            uoms: [],
            errors: [],
            loading: false,
            selectedSupplier: null,
            selectedCurrency: null,
            selectedPaymentMethod: null,
            selectedPaymentTerm: null,
            selectedProject: null,
            selectedItem: [],
            selectedUom: [],
            validationErrors: "",
            product_id: null,
            billing: [],
            pr_history: [],
        };
    },
    mounted() {
        this.fetchPo();
        this.fetchSupplier();
        this.fetchTaxs();
        this.fetchCurrency();
        this.fetchItems();
        this.fetchPaymentMethod();
        this.fetchPaymentTerm();
        this.fetchUoms();
        this.fetchProjectCode();
        this.callFromChild();
    },
    computed: {
        getTotal() {
            const total = this.products.reduce((a, b) => a + (b.price * b.qty) - (b.discountAmount ? b.discountAmount : 0) - (b.discountRate ? ((b.discountRate / 100) * b.price) : 0) * b.qty, 0);
            this.form.getTotal = total ? total : 0;
            return total;
        },
        subTotal() {
            const total = this.form.getTotal - this.form.discountAllItem;
            this.form.subTotal = total ? total : 0;
            return total;
        },
        getGst() {
            const total = ((this.form.tax / 100) * this.form.subTotal);
            this.form.gstTotal = total ? total : 0;

            return total;
        },
        total() {
            const total = this.form.subTotal + this.form.gstTotal;
            this.form.total = total ? total : 0;
            return total;
        }

    },
    watch: {
        changeDate() {
            let submitionDate = this.form.submition_date;
            this.form.required_date = moment(submitionDate)
                .add(21, "days")
                .format("Y-MM-D");
        },
        selectedDepartment: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                this.form.department_id = this.selectedDepartment.id;
            }
        },
        selectedSupplier: {
            // append value to spesific you wanted too
            // immediate: true, // will fire when mounted
            // deep: true, // using when nested data
            handler() {
                if (this.selectedSupplier) {
                    this.form.supplier_id = this.selectedSupplier.id;
                } else {
                    this.form.supplier_id = null;
                }
            }
        },
        selectedCurrency: {
            handler() {
                if (this.selectedCurrency) {
                    this.form.currency_id = this.selectedCurrency.id;
                } else {
                    this.form.currency_id = null;
                }
            }
        },
        selectedPaymentMethod: {
            handler() {
                if (this.selectedPaymentMethod) {
                    this.form.payment_method_id = this.selectedPaymentMethod.id;
                } else {
                    this.form.payment_method_id = null;
                }
            }
        },
        selectedPaymentTerm: {
            handler() {
                if (this.selectedPaymentTerm) {
                    this.form.payment_term_id = this.selectedPaymentTerm.id;
                } else {
                    this.form.payment_term_id = null;
                }
            }
        },
        selectedItem: {
            handler() {
                const selectedItems = this.selectedItem;
                selectedItems.map((item, i) => {
                    selectedItems.map((item, i) => {
                        if (item) {
                            this.products[i].item = item.id;
                        } else {
                            this.products[i].item = null;
                        }
                    });
                });
            }
        },
        selectedUom: {
            handler() {
                const selectedUoms = this.selectedUom;
                selectedUoms.map((uom, i) => {
                    if (uom) {
                        this.products[i].uom = uom.id;
                    } else {
                        this.products[i].uom = null;
                    }
                });
            }
        },
        selectedProject: {
            handler() {
                if (this.selectedProject) {
                    this.form.project_id = this.selectedProject.id;
                } else {
                    this.form.project_id = null;
                }
            }
        },
    },
    methods: {
        callFromChild() {
            this.$root.$on("refetch_the_supplier_from_po", () => {
                this.fetchSupplier();
            });
        },
        showSupplier(e) {
            this.$modal.show('example-modal')
        },
        childMessageReceived(value) {
            this.items = [];
            this.fetchSupplier();
        },
        formatPrice(value) {
            let val = (value / 1).toFixed(0).replace(",", ".");
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        async showPriceHistory(e, data, index) {
            this.product_id = data.item
            const response = await axios.get(
                `/api/transaction/product/billing-history/${data.item}`
            );
            const result = await response.data;

            this.billing = result
            const procurementHistory = await axios.get(
                `/api/transaction/product/procurement-history/${data.item}`
            );
            const ph = await procurementHistory.data;

            this.pr_history = ph
            this.$modal.show('price-history-modal')
        },
        async fetchPo() {
            try {
                const response = await axios.get(
                    `/api/procurement/purchase_order/${this.id}`
                );
                const result = await response.data;
                this.form.title = result.title;
                this.form.purchase_requisition_id = result.purchase_requisition_id ? result.purchase_requisition.code_number : 0;
                // this.form.department = result.department_id;
                this.form.date = result.date;
                this.form.time = result.time;
                this.form.discountAllItem = parseInt(result.discount_all_item, 10);

                // push to selected cost center
                this.selectedSupplier = result.supplier;
                this.selectedCurrency = result.currency;
                this.selectedPaymentTerm = result.payment_term;
                this.selectedPaymentMethod = result.payment_method;
                this.selectedDepartment = result.department;
                this.selectedProject = result.project;
                result.items.map((item, i) => {
                    // push to selected item
                    this.selectedItem.push({
                        id: item.product.id,
                        name: item.product.name
                    });
                    this.selectedUom.push({
                        id: item.uom_id,
                        name: item.uom.name
                    });
                    this.products.push({
                        id: item.id,
                        item: item.product.name,
                        qty: parseInt(item.qty, 10),
                        uom: item.uom_id,
                        description: item.description,
                        price: parseInt(item.price, 10),
                        discountRate: item.discount_rate,
                        discountAmount: parseInt(item.discount_amount, 10),
                        subTotal: parseInt(item.sub_total, 10)
                    });

                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchDepartments() {
            try {
                // const companyId = window.Laravel.auth.company_id;
                const response = await axios.get(
                    `/procurement/purchase_requisition/department`
                );
                const result = await response.data;
                result.map(res => {
                    this.departments.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchSupplier() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/supplier`
                );
                const result = await response.data;
                result.map(res => {
                    this.suppliers.push({
                        id: res.id,
                        name: res.company_name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },

        async fetchTaxs() {
            try {
                const response = await axios.get(
                    `/transaction/quotation_material/tax`
                );
                const result = await response.data;
                this.form.tax_id = result.id;
                this.form.tax = parseInt(result.rate);

            } catch (err) {
                console.log(err);
            }
        },

        async fetchCurrency() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/currency`
                );
                const result = await response.data;
                result.map(res => {
                    this.currency.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },

        async fetchPaymentMethod() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/payment-method`
                );
                const result = await response.data;
                result.map(res => {
                    this.paymentMethod.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchPaymentTerm() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/payment-term`
                );
                const result = await response.data;
                result.map(res => {
                    this.paymentTerm.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },

        async fetchItems() {

            try {
                const response = await axios.get(`/procurement/purchase_requisition/product`);
                const result = await response.data;
                result.map(res => {
                    this.items.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchItemDetails(e, i) {
            if (e) {

                const product_id = e.id
                // this.products[i].uom = null
                this.products[i].price = null
                this.products[i].discountRate = null
                this.products[i].discountAmount = null
                this.selectedUom[i] =  null

                axios(`/api/procurement/product/product-detail/${product_id}`)
                    .then(response => {
                        const uom = response.data.uom_id
                        console.log(uom)
                        this.products[i].uom = uom
                        this.selectedUom[i] = {
                            id: uom,
                            name: response.data.uom.name
                        }
                        console.log(this.selectedUom[i])
                        if (uom) {
                            axios(`/api/procurement/product/product-price/${product_id}/${uom}`)
                                .then(response => {
                                    if (response.data) {
                                        const price = response.data.price
                                        const discountRate = response.data.discount
                                        const discountAmount = response.data.discount_amount
                                        this.products[i].price = parseInt(price, 10)
                                        this.products[i].discountRate = discountRate
                                        this.products[i].discountAmount = parseInt(discountAmount, 10)
                                    }
                                })
                                .catch(e => console.log(e));
                        }
                    })
                    .catch(e => console.log(e));
            }
        },
        async fetchUomDetails(e, i) {
            const product_id = this.products[i].item
            // this.products[i].uom = null
            this.products[i].price = null
            this.products[i].discountRate = null
            this.products[i].discountAmount = null
            if (e) {
                axios(`/api/procurement/product/product-price/${product_id}/${e.id}`)
                    .then(response => {
                        if (response.data) {
                            const price = response.data.price
                            const discountRate = response.data.discount
                            const discountAmount = response.data.discount_amount
                            this.products[i].price = parseInt(price, 10)
                            this.products[i].discountRate = discountRate
                            this.products[i].discountAmount = parseInt(discountAmount, 10)
                        }
                    })
                    .catch(e => console.log(e));
            }
        },
        async fetchUoms() {
            const response = await axios.get(`/procurement/purchase_requisition/uom`);
            const result = await response.data;

            this.uoms = result;
        },
        async fetchProjectCode() {
            try {
                const response = await axios.get(`/api/purchase-order/project`)
                const result = await response.data;
                result.map(res => {
                    this.projects.push({
                        id: res.id,
                        name: res.name
                    })
                })
            } catch (e) {

            }
        },

        addItem() {
            this.products.push({
                item: "",
                uom: "",
                qty: null,
                remark: "",
                description: '',
                price: null,
                discountRate: null,
                discountAmount: null,
            });
        },
        async removeItem(itemId) {
            const response = await axios.post(
                `/api/procurement/purchase_order/removeItem/${itemId}`
            );
            const result = await response.data;
        },
        deleteItem(i, itemId) {
            this.$swal({
                title: "Are you sure?",
                text: "You can't revert your action",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes Delete it!",
                cancelButtonText: "No, Keep it!",
                showCloseButton: true,
                showLoaderOnConfirm: true
            }).then(result => {
                if (result.value) {
                    if (typeof itemId !== "undefined") {
                        this.removeItem(itemId);
                    }
                    this.products.splice(i, 1);
                    this.$swal(
                        "Deleted",
                        "You successfully deleted this data",
                        "success"
                    );
                } else {
                    this.$swal("Cancelled", "Your file is still intact", "info");
                }
            });
        },
        async handleSubmit() {
            this.loading = true;

            try {

                let data = {};
                data["_method"] = "PUT";
                data["title"] = this.form.title;
                data['project_id'] = this.form.project_id
                data["date"] = this.form.date;
                data["supplier_id"] = this.form.supplier_id;
                data["currency_id"] = this.form.currency_id;
                data["time"] = this.form.time;
                data["purchase_requisition_id"] = this.form.purchase_requisition_id;
                data["payment_term_id"] = this.form.payment_term_id;
                data["payment_method_id"] = this.form.payment_method_id;
                data["products"] = this.products;
                data["get_total"] = this.form.getTotal;
                data["discount_all_item"] = this.form.discountAllItem;
                data["sub_total"] = this.form.subTotal;
                data["tax_id"] = this.form.tax_id;
                data["total"] = this.form.total;
                data["resubmit"] = this.resubmit;

                const response = await axios.post(
                    `/procurement/purchase-order/${this.id}`,
                    data
                );
                const result = await response;
                if(result.data.success == true){
                    window.location.href = "/procurement/purchase-order";
                }else{
                    alert(result.data.message)
                }
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    this.errors = err.response.data.errors;
                }
            }
        }
    }

};
</script>
