<template>
<modal name="example-modal" :resizable="resizable" :adaptive="adaptive" height="auto" :scrollable="true">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" v-model="form.company_name" class="form-control" :class="{ 'is-invalid': validationErrors.company_name }" required />
                    <label class="text-danger" v-if="validationErrors.company_name">{{ validationErrors.company_name[0] }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Supplier Name</label>
                    <input type="text" v-model="form.name" class="form-control" :class="{ 'is-invalid': validationErrors.name }" required />
                    <label class="text-danger" v-if="validationErrors.name">{{ validationErrors.name[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" v-model="form.phone" class="form-control" :class="{ 'is-invalid': validationErrors.phone }" required />
                    <label class="text-danger" v-if="validationErrors.phone">{{ validationErrors.phone[0] }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Fax</label>
                    <input type="text" v-model="form.fax" class="form-control" :class="{ 'is-invalid': validationErrors.fax }" required />
                    <label class="text-danger" v-if="validationErrors.fax">{{ validationErrors.fax[0] }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" v-model="form.email" class="form-control" :class="{ 'is-invalid': validationErrors.email }" required />
                    <label class="text-danger" v-if="validationErrors.email">{{ validationErrors.email[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Price Category</label>
                    <v-select autocomplete v-model="selectedPriceCategory" :options="price_category" label="name" :class="{ 'is-invalid': validationErrors.price_category_id }" />
                    <div class="text-danger" v-if="validationErrors.price_category_id">{{ validationErrors.price_category_id[0] }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Currency</label>
                    <v-select v-model="selectedCurrency" :options="currency" label="name" :class="{ 'is-invalid': validationErrors.currency_id }" />
                    <label class="text-danger" v-if="validationErrors.currency_id">{{ validationErrors.currency_id[0] }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Payment Term</label>
                    <v-select v-model="selectedPaymentTerm" :options="paymentTerm" label="name" :class="{ 'is-invalid': validationErrors.payment_term_id }" />
                    <label class="text-danger" v-if="validationErrors.payment_term_id">{{ validationErrors.payment_term_id[0] }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Address</label>
                <textarea v-model="form.address" cols="50" rows="40" class="form-control r-0 light s-12" :class="{ 'is-invalid': validationErrors.address }"></textarea>
                <label class="text-danger" v-if="validationErrors.address">{{ validationErrors.address[0] }}</label>
            </div>
            <div class="col-md-6">
                <label>Description</label>
                <textarea v-model="form.description" cols="50" rows="40" class="form-control r-0 light s-12" :class="{ 'is-invalid': validationErrors.description }"></textarea>
                <label class="text-danger" v-if="validationErrors.description">{{ validationErrors.description[0] }}</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button @click.prevent="onClickButton" class="btn btn-info pull-right" style="margin-bottom: 20px">Save</button>
                </div>
            </div>
        </div>
    </div>
</modal>
</template>

<script>
import axios from "axios";
import vmodal from 'vue-js-modal'
Vue.use(vmodal)
import ValidationErrors from "../../../../../../../resources/js/components/commons/validation-errors";

export default {
    components: {
        ValidationErrors,
    },
    data() {
        return {
            form: {
                company_name: "",
                name: "",
                roc: "",
                phone: "",
                fax: "",
                email: "",
                currency_id: "",
                price_category_id: "",
                payment_term_id: "",
                address: "",
                description: "",
            },
            resizable: false,
            adaptive: true,
            selectedPriceCategory: null,
            selectedCurrency: null,
            selectedPaymentTerm: null,
            validationErrors: "",
            price_category: [],
            paymentTerm: [],
            currency: [],

        };
    },
    mounted() {
        this.fetchCurrency();
        this.fetchPriceCategory();
        this.fetchPaymentTerm();
    },
    watch: {
        selectedPriceCategory: {
            handler() {
                if (this.selectedPriceCategory) {
                    this.form.price_category_id = this.selectedPriceCategory.id;
                } else {
                    this.form.price_category_id = null;
                }
            }
        },
        selectedCurrency: {
            handler() {
                if (this.selectedCurrency) {
                    this.form.currency_id = this.selectedCurrency.id;
                } else {
                    this.form.currency_id = null;
                }
            }
        },
        selectedPaymentTerm: {
            handler() {
                if (this.selectedPaymentTerm) {
                    this.form.payment_term_id = this.selectedPaymentTerm.id;
                } else {
                    this.form.payment_term_id = null;
                }
            }
        },
    },
    methods: {
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();;
            } else {
                return true;
            }
        },
        async fetchPriceCategory() {
            try {
                const response = await axios.get(
                    `/api/procurement/product/price-category`
                );
                const result = await response.data;
                result.map(res => {
                    this.price_category.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (e) {
                console.log(e);

            }
        },
        async fetchCurrency() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/currency`
                );
                const result = await response.data;
                result.map(res => {
                    this.currency.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async fetchPaymentTerm() {
            try {
                const response = await axios.get(
                    ` /api/purchase-order/payment-term`
                );
                const result = await response.data;
                result.map(res => {
                    this.paymentTerm.push({
                        id: res.id,
                        name: res.name
                    });
                });
            } catch (err) {
                console.log(err);
            }
        },
        async onClickButton() {
            this.loading = true;
            try {

                let data = {};
                data["company_name"] = this.form.company_name;
                data["name"] = this.form.name;
                data["phone"] = this.form.phone;
                data["fax"] = this.form.fax;
                data["email"] = this.form.email;
                data["currency_id"] = this.form.currency_id;
                data["price_category_id"] = this.form.price_category_id;
                data["payment_term_id"] = this.form.payment_term_id;
                data["address"] = this.form.address;
                data["description"] = this.form.description;

                const response = await axios.post(
                    `/api/procurement/supplier`,
                    data
                );

                this.form = {
                    company_name: "",
                    name: "",
                    roc: "",
                    phone: "",
                    fax: "",
                    email: "",
                    currency_id: "",
                    price_category_id: "",
                    payment_term_id: "",
                    address: "",
                    description: "",
                }

                this.selectedPriceCategory = null;
                this.selectedCurrency = null;
                this.selectedPaymentTerm = null;
                this.validationErrors = "";

                const result = await response;

                this.$emit('messageFromChild')
                this.$root.$emit('refetch_the_supplier_from_po')
                this.$modal.hide('example-modal')
                this.$swal(
                    "Yeay!",
                    "Your entry has been added successfully",
                    "success"
                );
            } catch (err) {
                this.loading = false;
                if (err.response.status === 422) {
                    this.validationErrors = err.response.data.errors;
                }
            }
        }
    }
}
</script>
